<div class="tab-base shadow">
  <div class="label-estado"><strong>Estado: </strong>{{this.servicio?.status?.name}}</div>
  <strong style="float: right;">Hectáreas totales:  {{this.servicio?.hectare}}</strong>
 <br>
 <br>
  <div class="containers">
      <div class="containers ">
        <div class="label2">
          <strong>Técnico</strong>
          Cristian <P></P>
         </div>
         <div class="separacion"></div>
         <div class="label2">
          <strong>Estado de la plantación</strong>
          ---
         </div>
         <div class="separacion"></div>
         <div class="label2">
          <button class="back-button2 btn-grande label2" >DRONE</button>
        </div>
      </div>

    <div class="separacion"></div>
    <div class="label2 label">
      <div class="titulo-subra">
      Hectáreas: {{this.servicio?.hectare}}
    </div>
    </div>
 </div>
 <br>
 <br>

 <div class="containers ">
  <div class="label2">
    <button class="back-button2 btn-grande label2" >INSUMOS</button>
  </div>
  <div class="separacion"></div>
  <div class="label2">
    <button class="back-button2 btn-grande label2" >IMÁGENES</button>
  </div>
  <div class="separacion"></div>
  <div class="label2">
    <button class="back-button2 btn-grande label2" >OBSERVACIONES</button>
  </div>
</div>

</div>
