<div class="container">
  <div class="header-container2">
    <h2 class="title2">Notificaciones</h2>
    <button class="back-button2" (click)="volver()"> << Volver Atrás</button>
  </div>
  <div class="search-container">
    <input type="text" class="search-input" placeholder="Buscar...">
    <button class="back-button2" (click)="buscar()"> Buscar</button>
    <button class="back-button2" (click)="limpiar()"> Limpiar</button>
    <button class="back-button2" (click)="notificar()"> + Notificar</button>
  </div>
  <div class="subheader-container">
    <h2 class="subtitle">Colocar subtitulo o sacar:</h2>
  </div>
  <mat-card class="main-card">
    <div class="card-notificaciones">

    </div>
  </mat-card>
</div>
