<app-header-user></app-header-user>

<div class="form-container">
  <div class="field-container">
    <!-- Componente de formulario dinámico -->
    <form>
      <ng-container *ngFor="let field of dataForm">
        <div class="field-group">
          <label class="field-label">{{ field.placeholder }}</label>
          <input [type]="field.type" [placeholder]="field.placeholder" [(ngModel)]="formData[field.ngModel]" [name]="field.name" class="field-input">
        </div>
      </ng-container>
    </form>
  </div>
</div>

<!-- Botones del formulario -->
<div class="botones-form">
  <button mat-raised-button class="crear-button" (click)="enviarFormulario()">Actualizar usuario</button>
  <button mat-raised-button class="cancelar-button" (click)="cancelar()">Cancelar</button>
</div>
