@import '../../../../../assets/variables'

.form-section
  margin-bottom: 1.5em

.form-container
  background-color: #f8f9fa
  padding: 20px
  border: 1px solid #dee2e6
  border-radius: 4px

.field-container
  width: 95%
  gap: 15px
  font-family: 'Montserrat', sans-serif
  margin-bottom: 2em

.field-label
  font-size: 1em
  color: $new_color_blue
  font-weight: bold
  margin-right: 10px

.field-input
  flex: 1
  height: 30px
  padding: 0 10px
  border: 1px solid #ddd
  border-radius: 4px
  font-size: 1em
  font-family: 'Montserrat', sans-serif
  color: $new_color_blue
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
  width: 100%

  &:focus
    outline: none
    border-color: $new-color-blue-hard
    box-shadow: 0 0 5px $new-color-blue-hard

.mat-select-container
  width: 35%
  margin-top: 5px

.botones-form
  display: flex
  justify-content: flex-end
  margin-top: 20px

  button
    padding: 8px 18px
    border: 1px solid transparent
    border-radius: 5px
    cursor: pointer
    transition: background-color 0.3s, border-color 0.3s
    font-size: 0.85em
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    margin-left: 10px

    &.crear-button
      width: 15%
      background-color: $new-color-blue-hard
      color: white

    &.cancelar-button
      width: 15%
      background-color: white
      color: $new-color-blue-hard
      border-color: $new-color-blue-hard

      &:hover
        background-color: #f8f8f8
        border-color: darken($new-color-blue-hard, 10%)

.list-chip-grid
  width: 100%

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input
  display: none

.mat-mdc-form-field
  width: 100%

.mdc-text-field--filled:not(.mdc-text-field--disabled)
    /* background-color: var(--mdc-filled-text-field-container-color);
.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 9999
  display: flex
  justify-content: center
  align-items: center

.lds-ellipsis
  position: relative
  color: #015E83
  width: 80px
  height: 80px
  top: 2em
  left: 0em

.lds-ellipsis div
  position: absolute
  top: 33.33333px
  width: 13.33333px
  height: 13.33333px
  border-radius: 50%
  background: currentColor
  animation-timing-function: cubic-bezier(0, 1, 1, 0)

.lds-ellipsis div:nth-child(1)
  left: 8px
  animation: lds-ellipsis1 0.6s infinite

.lds-ellipsis div:nth-child(2)
  left: 8px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(3)
  left: 32px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(4)
  left: 56px
  animation: lds-ellipsis3 0.6s infinite

@keyframes lds-ellipsis1
  0%
    transform: scale(0)
  100%
    transform: scale(1)

@keyframes lds-ellipsis3
  0%
    transform: scale(1)
  100%
    transform: scale(0)

@keyframes lds-ellipsis2
  0%
    transform: translate(0, 0)
  100%
    transform: translate(24px, 0)
