<div class="mainStructure">
  <app-header-inner [title]="'Nuevo Usuario'" [backButton]="true"></app-header-inner>
  <div class="profileContainer">
    <div class="profileContainer-personalData">
      <div class="profileContainer-personalData-title"> Información Personal </div>
    <form class="FullForm" [formGroup]="userDetailsForm">
      <div class="profileContainer-personalData-content">
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="usuario">Usuario</label>
            <input class="FormInput" matInput  formControlName="usuario" id="usuario" autocomplete="new-username">
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="password">Contraseña</label>
            <input  class="FormInput" matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" id="password"
                  autocomplete="new-password" (click)="togglePasswordVisibility()">
          </div>
        </div>  
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="nombre">Nombre</label>
            <input class="FormInput" matInput  formControlName="nombre" id="nombre">
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="apellido">Apellido</label>
            <input class="FormInput" matInput  formControlName="apellido" id="apellido">
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="localidad">Localidad</label>
            <mat-select style="height: 45px !important;" placeholder="Seleccionar localidad" class="FormInput"  formControlName="localidad" >
              <mat-option *ngFor="let loc of filteredLocalidades | async" [value]="loc.name">
                {{ loc.name }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="dni">DNI / CUIT</label>
          <input class="FormInput" matInput  formControlName="dni" id="dni">
        </div>
      </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="contacto">Contacto</label>
            <input class="FormInput" matInput  formControlName="contacto" id="contacto">
          </div>
        </div>
        <div style="width: 100%;flex-direction: row;
        gap: 8px;
        align-items: center;display:flex;padding-top: 10px;">
           
          <mat-checkbox formControlName="isPreAcceptTherms"></mat-checkbox>
          <label class="field-label" for="isPreAcceptTherms">Aceptar términos</label>
    
          <mat-checkbox formControlName="isPreActivate"></mat-checkbox>
          <label class="field-label" for="isPreActivate">Activar cuenta</label>
        </div> 
      </div>
    </form>
  </div>
  <div class="profileContainer-aditionalData">
    <div class="profileContainer-aditionalData-title">Información Adicional</div>
    <form   [formGroup]="userDetailsForm">
        <div class="FullForm-control margin-btm-0">
        <textarea matInput class="FormTextarea"  formControlName="descripcion"></textarea>
      </div>
    </form>
  </div>  

  <div class="FullForm-buttonsToRight">
    <button mat-button   class="secondary-button-custom size-48" type="button" (click)="cancelar()">Cancelar</button>
    <button  mat-raised-button appearance="outline"  class="primary-button-custom size-48"  (click)="cargarNuevoUsuario()">Guardar Cambios</button>
</div>
  </div>
</div>
