<div class="login-container">
  <mat-card class="login-card" [ngStyle]="{'height': hasErrors ? 'auto' : '550px'}" *ngIf="!mostrarRegistro">
    <div class="logo-container">
      <img src="/assets/img/logo_AGROtech.svg" alt="Logo">

    </div>
    <h1 class="mb-4">Iniciar Sesión</h1>
    <form [formGroup]="login" (ngSubmit)="loginUser()" class="text-start">
      <input matInput type="email" id="username" [formControl]="usernameControl" placeholder="Correo electrónico">

      <div class="error-container">
        <mat-error *ngIf="usernameControl.invalid && usernameControl.touched">
          <span *ngIf="usernameControl.hasError('required')">El correo electrónico es requerido.</span>
          <span *ngIf="usernameControl.hasError('email')">Ingresa un correo electrónico válido.</span>
        </mat-error>
      </div>

      <div class="password-field-container">
        <input matInput type="password" id="password" [formControl]="passwordControl" placeholder="Contraseña"
          [class.blurred]="!passwordVisible">
        <mat-icon class="toggle-password" (click)="togglePasswordVisibility()">
          {{ passwordVisible ? 'visibility' :'visibility_off' }}
        </mat-icon>
      </div>

      <div class="error-container">
        <mat-error *ngIf="passwordControl.invalid && passwordControl.touched">
          <span *ngIf="passwordControl.hasError('required')">La contraseña es requerida.</span>
          <span *ngIf="passwordControl.hasError('minlength')">La contraseña debe tener al menos 8 caracteres.</span>
          <span *ngIf="loginError">{{ loginError }}</span>
        </mat-error>
      </div>

      <button mat-raised-button type="submit" class="btn-submit mt-3" id="submitBtn">
        Iniciar Sesión
      </button>

      <div class="login-links mt-3">
        <div class="login-prompt">
          ¿No tenes cuenta?<a routerLink="/registro" class="login-link">Regístrate</a>
        </div>
        <div class="login-prompt">
          <a routerLink="/recuper-contrasena" class="login-link">Recuperar Contraseña</a>
        </div>
        <div class="login-prompt">
          <a routerLink="/login-backoffice" class="login-link">Backoffice-Admin</a>
        </div>
      </div>
    </form>
  </mat-card>
  
</div>
<app-footer [ellipses]="ellipses" [svgPath]="svgPath"  [background]="background"></app-footer> 