<div class="mainStructure">
<app-header-inner [title]="'Productores'" [backButton]="true"></app-header-inner>
 <app-searchbar (filter)="onFilter($event)" (clearFilter)="clearFilter()" 
 [options]="options" 
 [localidadesOptions]="localidades"
 [placeholder]="'Buscar por Productor'"
 [btnAdd]="'Productor'" ></app-searchbar>
<!--  <miniatura [productor]="true" [dataView]="dataView" [listado]="usuarios"></miniatura> -->
<app-card [dataView]="dataView" [listado]="usuarios"  [typeCard]="'productor'"></app-card> 
</div>