$primary-color: #0F8054
$secondary-color: #8FCA8F
$new-color-blue-hard: #015E83
$white-color: #FFFFFF
$new_color_blue: #015E85
$hover-color: #47de5b
$error-color: #F54C51
$light-grey: #f4f4f4
$dark-grey: #454545
$hard-black: #1E1E1E
$medium-grey: #808080
$border-color: #FFFFFF
$btn_cards: #3B7AF6
$icon-color: #808080
$font-family: 'Montserrat', sans-serif

.container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto

.titulo-perfil
  color: #232323
  font-size: 1.2em
  font-family: "Montserrat", sans-serif
  margin-left: 1%
  margin-top: 2%
  font-weight: bold

.titulo-welcome
  color: #454545
  font-size: 1em
  font-family: "Montserrat", sans-serif
  // margin-left: 2%
  // margin-top: 0.5%

.main-card
  width: 100%
  padding: 20px
  border-radius: 10px
  background-color: $white-color
  position: relative
  display: grid
  grid-template-columns: 1fr

.user-content
  background: linear-gradient(to bottom, #00668F 0%, #004F70 100%)
  padding: 10px
  border-radius: 30px
  border: 2px solid #ccc
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3)
  display: grid
  grid-template-columns: 1fr auto
  gap: 20px
  width: 98%

.botones-servicio
  display: flex
  justify-content: flex-end
  align-items: center
  margin-top: 2%

.user-content
  display: flex
  align-items: center
  gap: 20px

  .avatar
    position: relative

    .avatar-circle
      width: 90px
      height: 90px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      border: 2px solid $new_color_blue
      background-color: white
      position: relative

      .avatar-icon
        font-size: 60px
        border-radius: 50%
        color: $new_color_blue
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center

      .avatar-circle img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 50%

      mat-icon
        height: unset
        width: unset
        color: $new_color_blue
        font-size: 16px
        overflow: none

      .edit-avatar-button
        display: flex
        position: absolute
        bottom: 0
        right: 0
        background-color: $white-color
        padding: 3px
        border-radius: 50%
        cursor: pointer

  .titulo-perfil-avatar
    color: $white-color
    font-size: 14px
    font-family: $font-family

  .email
    font-size: 14px
    color: $white-color
    font-weight: bold
    font-family: $font-family

.card-usuarios-productores
  background-color: #FFFFFF
  padding: 20px
  border-radius: 10px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  gap: 20px
  justify-content: center
  position: relative

.campo-card
  background-color: #FFFFFF
  padding: 20px
  border-radius: 20px
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4)
  max-width: 225px
  border-top: 70px solid #015E85
  border-radius: 45px

.avatar
  width: 100px
  height: 100px
  overflow: hidden

.img_prod
  position: relative
  left: 4em
  bottom: 3em

.user-info
  margin-top: 20px

.with-dot
  display: flex
  align-items: flex-start

  &::before
    content: "\2022"
    font-size: 1.5em
    margin-right: 5px
    position: relative
    top: -5px
    color: #015E85

.user-titulos
  font-size: 15px
  color: $hard-black
  font-weight: bold
  white-space: nowrap

.card-variable
  font-size: 15px
  margin-left: 1px
  color: $medium-grey

.acciones
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 10%

.icon-size
  font-size: 20px

.register-button
  padding: 8px 18px
  border: 2px solid $white-color
  border-radius: 5px
  cursor: pointer
  transition: background-color 0.3s, border-color 0.3s
  font-size: 0.85em
  font-family: 'Montserrat', sans-serif
  font-weight: bold
  background-color: $new_color_blue
  color: white
  margin-right: 2em

.verMas-button
  background-color: transparent
  border: 2px solid transparent
  border-radius: 5px
  cursor: pointer
  padding: 5px 10px
  transition: all 0.3s ease
  font-size: 12px
  font-weight: bold
  margin-left: 0px
  color: #FFFFFF
  background-color: #015E83
  width: 100%
  height: auto

.leta_btn
  display: flex
  justify-content: space-between

.titulo-chacra
  color: $new-color-blue
  font-family: 'Montserrat', sans-serif
  font-size: 1.5em
  font-weight: bold
  margin-bottom: 20px

.field-container
  display: flex
  width: 100%
  height: 40px
  gap: 15px
  position: relative
  font-family: 'Montserrat', sans-serif
  justify-content: flex-start
  margin-bottom: 2em

  & .field-input
    width: 90%
    height: 55%
    border: 1px solid #FFFFFF
    border-radius: 4px
    padding: 8px
    background-color: white
    font-size: 0.9em
    color: #454545
    font-family: 'Montserrat', sans-serif
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3)
    position: relative
    left: 1em

  & .field-input:focus
    outline: none
    border-color: #015E83
    box-shadow: 0 0 5px #015E83

.clear-button
  padding: 6px 18px
  border: 1px solid #FFFFFF
  background: #FFFFFF
  border-radius: 5px
  cursor: pointer
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s
  font-size: 0.85em
  width: 50%
  font-family: "Montserrat", sans-serif
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3)
  color: #929497
  margin-right: 2em
  display: flex
  align-items: center
  flex-direction: row
  justify-content: center
  position: relative
  gap: 20px
  left: 1em

  &:hover
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(15px)

  &:active
    transform: translateY(2px)
    border: 2px solid #015E83

.active-button
  padding: 6px 18px
  border: 1px solid $border-color
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3)
  background: #FFFFFF
  border-radius: 5px
  cursor: pointer
  transition: background-color 0.3s, border-color 0.3s
  font-size: 0.85em
  width: 50%
  font-family: "Montserrat", sans-serif
  gap: 20px
  color: #929497
  margin-right: 2em
  display: flex
  align-items: center
  flex-direction: row
  justify-content: center
  position: relative
  left: 1em

  &:hover
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(15px)
  &:active
    transform: translateY(2px)
    border: 2px solid #015E83

.nuevoUsuario-button
  padding: 6px 18px
  border: 2px solid #FFFFFF
  border-radius: 5px
  cursor: pointer
  transition: background-color 0.3s, border-color 0.3s
  font-size: 0.85em
  gap: 10px
  width: 55%
  font-family: "Montserrat", sans-serif
  font-weight: bold
  background-color: #015E83
  color: white
  margin-right: 2em
  display: flex
  align-items: center
  flex-direction: row
  justify-content: center

  &:active
    transform: translateY(2px)

@media screen and (max-width: 768px)
  .container
    grid-template-columns: 1fr
    margin-left: 1%
    margin-right: 1%

  .botones-servicio
    display: flex
    justify-content: center
    margin-top: 2%
    margin-left: 10%

  .titulo-perfil
    margin-left: 0
    margin-top: 2%
    text-align: center
    font-size: 17px

  .titulo-welcome
    font-size: 0.8em
    margin-left: 5%
    margin-top: 0.5%
    text-align: center
  .user-content
    display: none

  .field-container
    display: flex
    margin-bottom: 14em
    flex-direction: column
    right: 0.5em

  .clear-button
    width: 95%

  .active-button
    width: 95%
    

  .nuevoUsuario-button
    width: 96%
    position: relative
    left: 1.4em

  .card-usuarios-productores
    left: 2em
