<!-- <div class="container">
  <div class="titulo-bienvenida">
    <span>¡Bienvenido!</span>
  </div>
  <mat-card class="main-card">
    <div class="card user-card">
      <div class="avatar">
        <mat-icon>person</mat-icon>
      </div>
      <div class="user-info">
        <p class="name">{{ nombre }} {{ apellido }}</p>
        <p class="email">{{ userEmail }}</p>
      </div>
      <div class="volver-button" (click)="volver()" style="display: flex; align-items: center; cursor: pointer;">
        <mat-icon style="color:#FFFFFF">arrow_back</mat-icon>
        <span class="letra-icon" style="color:#FFFFFF">VOLVER ATRAS</span>
      </div>
    </div>

    <div class="filtro-localidad">
      <input type="text" placeholder="Filtrar por Localidad" (keyup)="filtrarPorLocalidad($event?.target?.value)">
    </div>
    <div class="filtro-apellido">
      <input type="text" placeholder="Filtrar por Apellido" (keyup)="filtrarPorApellido($event.target.value)">
    </div>
    <div class="filtro-nombre">
      <input type="text" placeholder="Filtrar por Nombre" (keyup)="filtrarPorNombre($event.target.value)">
    </div>

    <div class="card-campos-section">
      <h2 class="titulo-campo">Productores</h2>
      <div class="leta_btn">
        <button mat-raised-button (click)="cargarProductores()" class="plus-icon">
          Agregar Productor
          <mat-icon style="font-size: 20px;">add</mat-icon>
        </button>
      </div>
    </div>

    <div class="card-campos-lotes">
      <div class="campo-card" *ngFor="let productor of productores; let i = index">
        <!-- Aquí van los detalles del productor -->
      <!-- </div>
    </div>
  </mat-card>
</div> -->
