<div class="titulo-principal" style="padding-top: 20px;
    text-align: center;">Detalles del evento</div>
<div mat-dialog-content class="popup-dialog-container">
  <div class="popup-dialog-content">
    <div class="popup-dialog-content-title">
      <div class="popup-dialog-content-title-label">Nombre del evento:</div>
      <div class="popup-dialog-content-title-value">{{data.event?.title}}</div>
    </div>
    <div class="popup-dialog-content-title">
      <div class="popup-dialog-content-title-label">Fecha:</div>
      <div class="popup-dialog-content-title-value">{{data.event?.start | date: 'dd/MM/yyyy'}}</div>
    </div>
    <div class="popup-dialog-content-title">
      <div class="popup-dialog-content-title-label">Hora:</div>
      <div class="popup-dialog-content-title-value">{{data.event?.start | date: 'dd/MM/yyyy'}}</div>
    </div>
    <div class="popup-dialog-content-title">
      <div class="popup-dialog-content-title-label">Descripción:</div>
      <div class="popup-dialog-content-title-value">{{data.event?.extendedProps.description}}</div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="botones-servicio center">
  <button mat-button (click)="onCancel()" class="cancel-button">Salir</button>
</div> 