<div class="div-datos">
  <div class="title-datos">
    Tareas del drone
    <button *ngIf="mostrarListado && tareasDroneApp" class="back-button2 btn-cargar" [ngClass]="{'service-backOffice': this.backOffice}" (click)="openABM()"> Cargar Tareas</button>
  </div>
  <div class="body-datos">

    <!-- <mat-select *ngIf="mostrarListado" (selectionChange)="dialogoSeleccionarDrone($event)" placeholder="Seleccionar Drone" class="field-input" name="productor">
      <mat-option *ngFor="let drone of listadoDrones" [value]="drone">{{ drone?.nickname }}</mat-option>
    </mat-select> -->
    <ng-container *ngIf="mostrarListado else abm">
      <ng-container *ngIf="this.tareasDrone?.length else listadoVacio">
       <miniatura  (btnVerMasAccion)="seleccionTarea($event)" [dataView]="dataView" (btnEditarDevolverObjeto)="seleccionTarea($event)" (btnEliminar)="dialogConfirmacionEliminar($event)" [listado]="this.tareasDrone"></miniatura>
      </ng-container>

     <ng-template #listadoVacio>
        <div class="listadoVacio">
         No contiene elementos
        </div>
     </ng-template>
   </ng-container>

 <ng-template #abm>
  <div class="formulario" [formGroup]="form">
    <div class="title-datos">
      <button *ngIf="tareasDroneApp && !this.editar" class="back-button2 btn-cargar" [ngClass]="{'service-backOffice': this.backOffice}" (click)="editarTarea()"> Editar Tarea</button>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="field-container">
          <mat-label class="field-label">Drone</mat-label>
          <ng-container *ngIf="this.tareasDroneApp else droneProductor">
            <mat-select class="field-input" [formControlName]="ctrl_droneAssigned" placeholder="Seleccionar drone"
            name="drone">
            <mat-option *ngFor="let cultivo of listadoDrones" [value]="cultivo.id">{{ cultivo.nickname }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls[ctrl_droneAssigned]?.invalid && form.controls[ctrl_droneAssigned]?.touched">
            * Campo requerido</mat-error>
          </ng-container>
          <ng-template #droneProductor>
            {{this.form.controls[this.ctrl_droneAssigned].value}}
          </ng-template>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="field-container w-100">
          <mat-label class="field-label">Insumo</mat-label>
          <mat-select class="field-input" [formControlName]="ctrl_productInput" placeholder="Seleccionar"
            name="insumo">
            <mat-option *ngFor="let agua of listaInsumos" [value]="agua.productInput.id">{{ agua.productInput.name + '
              ('+ agua.productInput.description +')' }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls[ctrl_productInput]?.invalid && form.controls[ctrl_productInput]?.touched">*
            Campo requerido</mat-error>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="field-container w-100">
          <mat-label class="field-label">Hectáreas</mat-label>
          <input type="number" [formControlName]="ctrl_hectare" placeholder="Litros" class="field-input"
            name="hectareas" placeholder="Hectáreas" min="1" max="999999">
          <mat-error *ngIf="form.controls[ctrl_hectare]?.invalid && form.controls[ctrl_hectare]?.touched">* Campo
            requerido</mat-error>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <mat-label class="field-label">Fecha de inicio</mat-label>
        <mat-form-field class="width-full" appearance="outline">
          <input placeholder="Seleccione una fecha" id="input-task" matInput [min]="minDate" [matDatepicker]="dpDesde"
            [formControlName]="ctrl_intDate" autocomplete="off">
          <mat-datepicker-toggle matPrefix [for]="dpDesde"></mat-datepicker-toggle>
          <mat-datepicker #dpDesde startView="multi-year"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <mat-label class="field-label">Hora de inicio</mat-label>
        <mat-form-field class="width-full" appearance="outline">
        <input matInput placeholder="Seleccione una hora" id="input-task" type="time" [formControlName]="ctrl_intHour">
        <mat-icon matSuffix>access_time</mat-icon>
      </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <mat-label class="field-label">Fecha de fin</mat-label>
        <mat-form-field class="width-full" appearance="outline">
          <input placeholder="Seleccione una fecha" id="input-task" matInput [min]="minDate" [matDatepicker]="dpHasta"
            [formControlName]="ctrl_endDate" autocomplete="off">
          <mat-datepicker-toggle matPrefix [for]="dpHasta"></mat-datepicker-toggle>
          <mat-datepicker #dpHasta startView="multi-year"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <mat-label class="field-label">Hora de fin</mat-label>
        <mat-form-field class="width-full" appearance="outline">
        <input matInput placeholder="Seleccione una hora" id="input-task" type="time" [formControlName]="ctrl_endHour">
        <mat-icon matSuffix>access_time</mat-icon>
      </mat-form-field>
      </div>
      <div class="col-12" *ngIf="this.errorFechas">
        <mat-error> La fecha de fin no puede ser menor a la fecha de inicio</mat-error>
      </div>

      <div class="col-12">
        <mat-label class="field-label">Observaciones</mat-label>
        <textarea [formControlName]="this.ctrl_observation" placeholder="Descripción" matInput
          class="observaciones"></textarea>
      </div>
    </div>
  </div>
  <button class="back-button2" *ngIf="tareasDroneApp && this.editar" (click)="cancelar()" [ngClass]="{'service-backOffice': this.backOffice}"> Cancelar</button>
  <button class="back-button2" *ngIf="tareasDroneApp && this.editar" (click)="aceptar()" [ngClass]="{'service-backOffice': this.backOffice}"> Aceptar</button>
  </ng-template >

  <button *ngIf="(mostrarListado || !tareasDroneApp) || !this.editar"  class="back-button2" (click)="volver()" [ngClass]="{'service-backOffice': this.backOffice}">  Volver Atrás</button>
  </div>
</div>
