.observaciones{
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  background-color: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  // color: $medium-grey;
  // font-family: $font-family;
}
