<div class="tab-base shadow">
  <ng-container *ngIf="displayTecnico == display">
    <div class="label-estado" [ngClass]="{'service-backOffice': this.backOffice}"><strong>Estado: </strong>{{this.datosTecnico?.status?.name}}</div>
    <strong style="float: right;">Hectáreas totales: {{this.datosTecnico?.hectare}}</strong>
    <br>
    <br>
  </ng-container>

  <ng-container [ngSwitch]="display">

    <ng-container *ngSwitchCase="tipo.insumos">
       <app-lista-insumos (btnVolver)="setBtnVolver($event)"></app-lista-insumos>
    </ng-container>

    <ng-container *ngSwitchCase="tipo.imagenes">
      <app-lista-imagenes (btnVolver)="setBtnVolver($event)"></app-lista-imagenes>
    </ng-container>

    <ng-container *ngSwitchCase="tipo.editarDatos">
     <app-editar-datos (btnVolver)="setBtnVolver($event)"></app-editar-datos>
    </ng-container>

    <ng-container *ngSwitchCase="tipo.tecnico">
      <div class="row">
        <div class="col-12 border-base">
          <div class="mini-card">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tx-center">
                <img class="container-icon" src="../../../../../assets/icons-servicio/support-agent.svg" alt="tecnico">
                <div class="mb-15"><strong>Técnico</strong></div>
                <p>{{this.datosTecnico?.employee?.name}}</p>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tx-center">
                <img class="container-icon" src="../../../../../assets/icons-servicio/solar_phone-bold.svg" alt="tecnico">
                <div class="mb-15"><strong>Contacto</strong></div>
                <p>  <a href="tel:{{this.datosTecnico?.employee?.telephone}}" *ngIf="this.datosTecnico?.employee?.telephone">{{this.datosTecnico?.employee?.telephone}}</a></p>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tx-center">
                <img class="container-icon" src="../../../../../assets/icons-servicio/tabler_truck.svg" alt="tecnico">
                <div class="mb-15"><strong>Visita técnica</strong></div>
                <p>{{this.datosTecnico?.dateOfVisit ?? 'No establecida'}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
          <textarea [formControl]="ctrlObservaciones" appearance="outline" floatLabel="always" placeholder="Observaciones" matInput class="observaciones h-100" ></textarea>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <button class="back-button2 btn-grande label2" (click)="this.mostrarInsumos()" [ngClass]="{'service-backOffice': this.backOffice}" >INSUMOS</button>
          <br>
          <button class="back-button2 btn-grande label2" (click)="this.mostrarImagenes()" [ngClass]="{'service-backOffice': this.backOffice}">IMÁGENES</button>
          <br>
          <button *ngIf="editarDatosTecnicos" class="back-button2 btn-grande label2" (click)="this.editarDatos()" [ngClass]="{'service-backOffice': this.backOffice}">EDITAR DATOS</button>

        </div>
      </div>
     </ng-container>

    <ng-container *ngSwitchDefault>
    </ng-container>

  </ng-container>

</div>
