<div class="div-datos">
  <div class="title-datos">
  Imágenes
   <button *ngIf="mostrarListado" class="back-button2 btn-cargar" (click)="openABM()"> Cargar Imágenes</button>
  </div>
  <div class="body-datos">

    <ng-container *ngIf="mostrarListado else abm">
      listado imagenes
    </ng-container>

    <ng-template #abm>

      ABM imagenes

      <button  class="back-button2" (click)="cancelar()"> Cancelar</button>
      <button  class="back-button2" (click)="aceptar()"> Aceptar</button>
    </ng-template>


  </div>

  <button *ngIf="mostrarListado"  class="back-button2" (click)="volver()">  Volver Atrás</button>
</div>
