<div class="recuper-container">
  <mat-card class="recuper-card" [ngStyle]="{'height': hasErrors ? 'auto' : '550px'}">
    <div class="logo-container">
      <img src="../../../assets/img/log_sustentable_gris.png" alt="Logo">
    </div>
    <h1 class="mb-4">Recuperar Contraseña</h1>
    <div class="info-text-container">
      <span class="info-text">
        Por favor ingresa el email con el que te registraste,
      </span>
      <span class="info-text">
        luego, revisa tu bandeja de entrada para continuar <br />con el proceso.
      </span>
    </div>
    <form class="text-start" [formGroup]="recuperContra" (ngSubmit)="onSubmit()">
      <input matInput formControlName="email" type="email" id="email" placeholder="Correo electrónico">
      <mat-error *ngIf="emailField?.invalid && emailField?.touched">
        <span *ngIf="usernameControl.hasError('required')">El correo electrónico es requerido.</span>
        <span *ngIf="usernameControl.hasError('email')">Ingresa un correo electrónico válido.</span>
      </mat-error>

      <button mat-raised-button type="submit" class="btn btn-block mt-3" [disabled]="cargandoValidacion">Recuperar
        Contraseña</button>
      <div class="login-links mt-3">
        <div class="login-prompt">
          ¿Ya tienes cuenta? <a routerLink="/login" class="login-link" (click)="irAInicioSesion()">Iniciar Sesión</a>
        </div>
      </div>

      <!--  spinner -->
      <div *ngIf="cargandoValidacion" class="overlay">
        <div *ngIf="cargandoValidacion" class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
