$primary-color: #0F8054
$secondary-color: #3CA749
$hard-color: #47de5b
$hover-color: #32963f
$error-color: #d9534f
$light-grey: #f4f4f4
$dark-grey: #454545
$medium-grey: #666
$border-color: #ddd
$font-family: 'Montserrat', sans-serif

.recuper-container
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background-image: url('/assets/img/fondo_agro.png')
  background-size: cover

  .recuper-card
    width: 500px
    max-width: 100%
    padding: 40px
    border-radius: 20px
    border: 1px solid rgba(255, 255, 255, 0.18)
    overflow: hidden
    font-family: $font-family
    text-align: center
    font-size: 14px

    .logo-container
      margin-bottom: 20px
      display: flex
      justify-content: center
      align-items: center

      img
        width: 70%
        margin-bottom: 10px

    h1
      font-size: 35px
      color: $dark-grey
      font-weight: 600

    .info-text-container
      margin-bottom: 30px
      font-size: 13px
      font-weight: bold
      color: $dark-grey

      .info-text
        margin-bottom: 5px

    form
      width: 100%
      display: flex
      flex-direction: column

    input
      font-size: 14px
      width: 95%
      color: $medium-grey
      padding: 10px
      margin-bottom: 15px
      border: 1px solid $dark-grey
      border-radius: 4px

      &:focus
        outline: none
        border-color: $primary-color
        box-shadow: 0 0 5px $primary-color

    .mat-error
      color: $error-color
      font-size: 12px

    button
      width: 100%
      margin-top: 20px
      padding: 10px 0
      background: $primary-color
      backdrop-filter: blur(25px)
      -webkit-backdrop-filter: blur(15px)
      color: white
      border: none
      border-radius: 4px
      font-size: 16px
      cursor: pointer
      transition: background-color 0.3s ease

      &:hover
        background-color: $hard-color

    .login-links
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      margin-top: 10px

    .login-prompt
      font-size: 14px
      color: $dark-grey

    .login-link
      color: $hard-color
      text-decoration: none
      font-size: 14px
      text-decoration: underline

    @media (max-width: 600px)
      padding: 15px
      width: 90%
      height: 70%

      .logo-container
        img
          max-width: 200px
          margin-top: 5px

      h1
        font-size: 25px
        margin-bottom: 15px

      .info-text-container
        font-size: 12px

        .info-text
          margin-bottom: 3px

      input
        width: 95%
        padding-right: 30px
        font-size: 14px
        color: $medium-grey
        padding: 10px
        margin-bottom: 15px
        border: 1px solid $dark-grey
        border-radius: 4px

      .mat-error
        font-size: 10px
        margin-top: 3px

      button
        width: 100%
        padding: 8px
        font-size: 14px
        margin-top: 15px

      .login-links
        .login-prompt
          font-size: 14px
          margin-bottom: 5px

        .login-link
          font-size: 14px
          color: $hard-color
          text-decoration: underline
.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 9999
  display: flex
  justify-content: center
  align-items: center

.lds-ellipsis
  position: relative
  color: #47de5b
  width: 80px
  height: 80px
  top: 2em
  left: 0em

.lds-ellipsis div
  position: absolute
  top: 33.33333px
  width: 13.33333px
  height: 13.33333px
  border-radius: 50%
  background: currentColor
  animation-timing-function: cubic-bezier(0, 1, 1, 0)

.lds-ellipsis div:nth-child(1)
  left: 8px
  animation: lds-ellipsis1 0.6s infinite

.lds-ellipsis div:nth-child(2)
  left: 8px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(3)
  left: 32px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(4)
  left: 56px
  animation: lds-ellipsis3 0.6s infinite

@keyframes lds-ellipsis1
  0%
    transform: scale(0)
  100%
    transform: scale(1)

@keyframes lds-ellipsis3
  0%
    transform: scale(1)
  100%
    transform: scale(0)

@keyframes lds-ellipsis2
  0%
    transform: translate(0, 0)
  100%
    transform: translate(24px, 0)
