<div class="container">
  <div class="titulo-bienvenida">
    <span>¡Bienvenido!</span>
  </div>
  <mat-card class="main-card">
    <div class="card user-card">
      <div class="avatar">
        <mat-icon>person</mat-icon>
      </div>
      <div class="user-info">
        <p class="name">{{ nombre }} {{ apellido }}</p>
        <p class="email">{{ userEmail }}</p>
      </div>
      <div class="volver-button" (click)="volver()">
        <mat-icon style="color:#47de5b">arrow_back</mat-icon>
        <span style="color:#47de5b">Volver</span>
      </div>
    </div>



    <div class="card-campos-section">
      <h2 class="titulo-campo">Lotes</h2>
      <div class="leta_btn">
        <button mat-raised-button (click)="cargarLotes()" class="plus-icon">
          Cargar <mat-icon style="font-size: 20px;">add</mat-icon>
        </button>
      </div>
    </div>
    <div class="card-campos-lotes">
        <div class="campo-card" *ngFor="let lote of dataSource.data">
          <h3 class="titulo-campos">{{ lote.name }}</h3>
          <p><span class="campo-variable">Plantación:</span> {{ lote.type_plantation_id }}</p>
          <p><span class="campo-variable">Hectáreas:</span> {{ lote.dimensions }}</p>
          <p><span class="campo-variable">Descripción:</span> {{ lote.descriptions }}</p>
          <div class="acciones">
            <button mat-icon-button (click)="editarLote(lote)">
              <mat-icon style="color: #47de5b">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="confirmarBorrado(lote)">
              <mat-icon style="color: #47de5b">delete</mat-icon>
            </button>
          </div>
       </div>
    </div>





  </mat-card>
</div>
