$primary-color: #0F8054
$secondary-color: #8FCA8F
$hover-color: #47de5b
$error-color: #F54C51
$light-grey: #f4f4f4
$dark-grey: #454545
$hard-black: #1E1E1E
$white-color: #FFFFFF
$medium-grey: #808080
$border-color: #FFFFFF
$btn_cards: #3B7AF6
$icon-color: #808080
$font-family: 'Montserrat', sans-serif

body
  font-family: $font-family
  margin: 0
  padding: 0

.header-container2
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px

.title2
  margin: 0
  font-size: 1.5em
  color: #454545

.back-button2
  padding: 10px 20px
  font-size: 0.8em
  font-family: $font-family
  background-color: $primary-color
  color: white
  border: none
  border-radius: 10px
  cursor: pointer

.back-button2:hover
  background-color: $hover-color

.subheader-container
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 10px
  padding-top: 1em

.subtitle
  margin: 0
  font-size: 1.1em
  color: $primary-color

.search-container
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px 5px 15px 5px
  padding-top: 1em

.search-input
  flex-grow: 1
  padding: 10px
  margin-right: 10px
  border: 1px solid #ddd
  border-radius: 5px
  font-size: 1em
  max-width: calc(90% - 150px)

.container
  color: $dark-grey
  font-size: 1.2em
  font-family: $font-family
  margin: 1em 0.5em 1em 0.5em

.main-card
  width: 100%
  padding: 20px
  border-radius: 10px
  background-color: $white-color
  margin: 0 auto 18% auto
  display: grid
  grid-template-columns: 1fr
  box-shadow: none

.card-campos-lotes
  background-color: #FFFFFF
  border-radius: 10px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  gap: 20px
  justify-items: center

.campo-card
  padding: 20px
  border-radius: 20px
  width: 270px
  border: 2px solid $primary-color

.with-dot
  display: flex
  align-items: flex-start

  &::before
    content: "\2022"
    font-size: 26px
    color: $hover-color
    margin-right: 5px
    margin-top: -6px

.img_lotes
  width: 100%

.campo-titulos
  font-size: 15px
  color: $hard-black
  font-weight: bold
  white-space: nowrap

.campo-variable
  font-size: 15px
  margin-left: 1px
  color: $medium-grey

.acciones
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 10%

.icon-size
  font-size: 20px

.edit-button,
.delete-button
  background-color: transparent
  border: 2px solid transparent
  border-radius: 5px
  cursor: pointer
  padding: 5px 10px
  transition: all 0.3s ease

  &:hover
    border-color: $border-color

.edit-button
  font-size: 12px
  font-weight: bold
  color: $border-color
  background-color: $btn_cards
  width: 35%
  height: auto

.delete-button
  font-size: 12px
  font-weight: bold
  margin-left: 10px
  color: $border-color
  background-color: $error-color
  width: 36%
  height: auto

@media screen and (max-width: 768px)

  .header-container2
    flex-direction: column
    align-items: center

  .title2,
  .back-button2
    margin: 5px 0
    text-align: center

  .subheader-container
    justify-content: center

  .subtitle,
  .search-input
    margin: 5px 0
    text-align: center

  .search-input
    margin-right: 0
    max-width: 100%

  .search-container
    flex-direction: column
    align-items: center
