<div class="container">
  <div class="header-container2">
    <h2 class="title2">Geolocalización</h2>
    <button class="back-button2" (click)="volver()"> << Volver Atrás</button>
  </div>

  <div class="card-campo-container">
    <div class="card-map">
      <div class="geo-container">
        <div #map style="height: 95%; width:95%; border-radius: 5px; border: 1px solid #32963f"></div>
      </div>
    </div>

    <div class="card-search">
      <h4 class="title-campo-details">Chacra seleccionada</h4>
      <div class="geolocation-info">
        <div class="card" *ngIf="campoSeleccionado">
          <div class="card-item">
            <div class="titulo-detalle">
              <span>Chacra:</span>
              <span class="valor-detalle">{{ campoSeleccionado.name }}</span>
            </div>
            <div class="titulo-detalle">
              <span>Localidad:</span>
              <span class="valor-detalle">{{ campoSeleccionado.address?.location.name }}</span>
            </div>
            <div class="titulo-detalle">
              <span>Dirección:</span>
              <span class="valor-detalle">{{ campoSeleccionado.address.address }}</span>
            </div>
            <div class="titulo-detalle">
              <span>Hectáreas:</span>
              <span class="valor-detalle">{{ campoSeleccionado.dimensions }}</span>
            </div>
          </div>
        </div>

        <div class="card-info">
          <div class="title-campo-details">
            <h5>Seleccionar una localidad</h5>
            <mat-select placeholder="Localidades..." (selectionChange)="onSearch($event.value)">
              <mat-option *ngFor="let localidad of filteredLocalidades | async" [value]="localidad.name">{{ localidad.name
                }}</mat-option>
            </mat-select>
          </div>
        </div>

        <div class="campo-buttons">
          <button mat-raised-button class="cancel-button" type="button" (click)="cancelar()">Cancelar</button>
          <button mat-raised-button class="register-button" type="button" (click)="registerField()">Agregar</button>

        </div>
      </div>

    </div>

  </div>

</div>
