<div class="container">
  <div class="titulo-bienvenida">
    <h2>¡Bienvenido!</h2>
  </div>
  <div class="card-user">
    <div class="avatar">
      <mat-icon>person</mat-icon>
    </div>
    <div *ngIf="userEmail">
      <p class="email">{{ userEmail }}</p>
    </div>
  </div>
  <div class="card-map">
    <div class="geo-container">
      <div #map style="height: 400px;"></div>
    </div>
  </div>
  <div class="card-search">
    <h2 class="titulo-registrar-campo">Geolocalización</h2>
    <div class="geolocation-info">
      <div class="card-info">
        <div class="search-container">
          <div class="input-container">
            <input matInput type="text" id="search-input" placeholder="Buscar lugares...">
            <button mat-icon-button matSuffix (click)="onSearch()">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="fields && fields.length > 0">
        <div class="card-item" *ngFor="let item of fields">
          <p class="with-dot">
            {{ item.name }}
          </p>
          <p class="with-dot">
            {{ item.address.location }}
          </p>
          <p class="with-dot">
            {{ item.address.address }}
          </p>
          <p class="with-dot">
            {{ item.dimensions }} Hectáreas

          </p>
        </div>
      </div>
    </div>
    <div class="botones-servicio">
      <button mat-raised-button class="register-button" type="button" (click)="registerField()">Registrar</button>




      <button mat-raised-button class="cancel-button" type="button">Cancelar</button>
    </div>
  </div>
</div>
