<div class="mainStructure">
  <app-header-inner [title]="'Geolocalización'" [backButton]="true"></app-header-inner>
  <div class="ContainerLocation">
    <div class="ContainerLocation-map">
          <div #map class="location-map"></div>
      </div>
      <div class="ContainerLocation-chacra">
        <div class="ContainerLocation-chacra-details grow-1">
          <p class="font-16 margin-block-12 relative dot"><strong class="margin-inline-12">Nombre Chacra:</strong> {{ campoSeleccionado.name }}</p>
            <p class="font-16 margin-block-12 relative dot"><strong class="margin-inline-12">Localidad:</strong> {{ campoSeleccionado.address?.location.name }}</p>
            <p class="font-16 margin-block-12 relative dot"><strong class="margin-inline-12">Dirección:</strong> {{ campoSeleccionado.address.address }}</p>
            <p class="font-16 margin-block-12 relative dot"><strong class="margin-inline-12">Hectáreas:</strong> {{ campoSeleccionado.dimensions }} m2</p>
        </div>
        <div class="grow-3">
          <div class="Radio-container">
          <mat-radio-group class="Radio-container-group"  [(ngModel)]="opcionGeolocalizacion">
            <mat-radio-button value="localidad">Auto geolocalizar por localidad</mat-radio-button>
            <mat-radio-button value="manual">Geolocalizar por coordenadas</mat-radio-button>
          </mat-radio-group>
        </div>
        <div  *ngIf="opcionGeolocalizacion === 'localidad'">
          <div class="FullForm-control">
            <mat-select class="FormInput" style="width: 92%"   placeholder="Localidades..." (selectionChange)="onSearch($event.value)">
              <mat-option *ngFor="let localidad of filteredLocalidades | async" [value]="localidad.name">
                {{ localidad.name }}
              </mat-option>
            </mat-select>
          </div>
          </div>
        <div  *ngIf="opcionGeolocalizacion === 'manual'"> 
          <div class="FullForm-control">
          <input  placeholder="Latitud"  class="FormInput" matInput id="manualLatitude"    [(ngModel)]="latitud"
            (change)="onManualCoordinatesChange()"> </div>
            <div class="FullForm-control">
            <input  placeholder="Longitud" class="FormInput" matInput id="manualLongitude"   [(ngModel)]="longitud"
            (change)="onManualCoordinatesChange()"></div>
        </div>
        </div>  
        <div class="ContainerLocation-chacra-buttons">
          <button mat-button class="secondary-button-custom size-48" type="button" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button class="primary-button-custom size-48" type="button" (click)="registerField()">Agregar</button>
        </div>
        </div>
    </div>
  </div>
 
