$primary-color: #0F8054
$secondary-color: #8FCA8F
$hover-color: #32963f
$error-color: #d9534f
$light-grey: #f4f4f4
$dark-grey: #454545
$medium-grey: #808080
$border-color: #FFFFFF
$icon-color: #808080
$font-family: 'Montserrat', sans-serif

body
  font-family: $font-family

.header-container2
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px

.title2
  margin: 0
  font-size: 1.5em
  color: #454545

.back-button2
  padding: 10px 20px
  font-size: 0.8em
  font-family: $font-family
  background-color: #0F8054
  color: white
  border: none
  border-radius: 10px
  cursor: pointer

.back-button2:hover
  background-color: #32963f

.container
  color: $dark-grey
  font-size: 1.2em
  font-family: $font-family
  margin: 1em 0.5em 1em 0.5em

.titulo-bienvenida
  color: $dark-grey
  font-size: 1.2em
  font-family: $font-family
  margin-top: 25px
  margin-left: 17px
  font-weight: bold

.titulo-detalle-campo
  color: $primary-color
  font-family: "Montserrat", sans-serif
  font-size: 1.1em
  font-weight: bold
  margin-bottom: 17px
  display: block
  display: flex
  margin-left: 24px

.container
  color: #454545
  font-size: 1.4em
  font-family: "Montserrat", sans-serif
  margin-top: 1em
  margin-left: 0.5em
  margin-right: 0.5em
  margin-bottom: 1em

  .volver-button
    display: flex
    align-items: center
    cursor: pointer
    margin-top: 10px
    margin-left: auto

.card-campo-container
  background-color: #FFFFFF
  display: flex
  padding: 10px
  border-radius: 20px
  border: 1px solid #808080
  margin: 20px

  .card-search
    overflow: hidden
    padding: 8px
    margin-top: -25px
    width: 65%
    border-radius: 5px
    font-size: 18p

  .title-campo-details
    margin-top: 50px
    color: #454545

  .titulo-detalle
    color: #3BA549
    margin-bottom: 10px
    font-size: 15px
    font-weight: bold
    .valor-detalle
      font-size: 13px
      font-family: $font-family
      color: $medium-grey
      position: relative
      left: 5px

  .direccion
    color: #3BA549
    margin-bottom: 10px
    font-size: 15px
    font-weight: bold
    .direc_details
      font-size: 13px
      font-family: $font-family
      color: $medium-grey
      position: relative
      left: 5px

  .hectareas
    color: #3BA549
    margin-bottom: 10px
    font-size: 15px
    font-weight: bold
    .hect_details
      font-size: 13px
      font-family: $font-family
      color: $medium-grey
      position: relative
      left: 5px

  .descripcion
    color: #3BA549
    margin-bottom: 10px
    font-size: 15px
    font-weight: bold
    .desc_details
      font-size: 13px
      font-family: $font-family
      color: $medium-grey
      position: relative
      left: 5px

  .card-main-card
    display: flex
    grid-template-columns: 1fr
    width: 92%
    margin-left: 17px
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6)

  .card-map
    display: flex
    overflow: hidden
    padding: 7px
    width: 70%
    border-radius: 5px

  .geo-container
    width: 100%
    overflow: hidden

  .card-campo-secundarias
    display: flex
    gap: 10px
    margin-top: 10px
    width: 100%

  .foto-campo
    object-fit: cover
    width: 95%
    border-radius: 1px solid $primary-color
    height: 91%

  .campo-buttons
    display: flex
    gap: 10px
    margin-top: 2em
    flex-direction: column-reverse

  .botones-servicio
    display: flex
    justify-content: flex-start
    gap: 8px
    margin-top: -16px
    margin-bottom: 20px
    flex-direction: column-reverse
    align-content: center
    align-items: center

  .title-lat-lon
    color: $primary-color
    font-family: $font-family
    font-weight: bold

  mat-select
    width: 95%
    padding: 9px
    font-family: "Montserrat", sans-serif
    font-size: 13px
    color: #808080
    font-weight: 400
    border: 1px solid $medium-grey
    border-radius: 4px
    background-color: white
    height: 17px
    margin-top: 2%

    &:focus
      outline: none
      white-color: $primary-color
      box-shadow: 0 0 5px $primary-color

      &:nth-child(1),
      &:nth-child(2)
        display: flex
        gap: 20px

  button
    background-color: #0F8054
    width: 100%
    color: white
    cursor: pointer
    padding: 12px 18px
    border: 1px solid transparent
    border-radius: 12px
    transition: background-color 0.3s, border-color 0.3s
    font-size: 0.7em
    font-family: "Montserrat", sans-serif
    font-weight: bold

  .icono_location
    width: 20px
    height: auto
    margin-left: 5px
    vertical-align: middle
    fill: #0F8054

  button.geolocalizar
    width: 100%
    border-radius: 12px
    padding: 9px 18px
    background-color: white
    border: 2px solid #0F8054
    color: #0F8054

  button:hover
    // background-color: #f8f8f8
    border-color: darken($primary-color, 10%)

#map
  object-fit: cover
  width: 100%
  border-radius: 20px
  border: 1px solid $dark-grey

@media screen and (max-width: 768px)

  .header-container2
    flex-direction: column
    align-items: center

  .title2,
  .back-button2
    margin: 5px 0
    text-align: center

  #map
    width: 100%
    height: 100%
    border-radius: 5px
    margin-right: 0
    margin-left: auto

  .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar
    display: none

  .leaflet-container
    font-size: 14px

  .container
    object-fit: cover
    width: 100%
    height: auto
    border-radius: 5px
    margin-right: 12px
    margin-left: auto

  .leaflet-container
    font: 8px/1 "Montserrat", sans-serif

  .card
    display: flex
    justify-content: columns

  .titulo-bienvenida
    font-size: 1.1em
    margin-top: 5px
    display: flex
    justify-content: center

  .titulo-detalle-campo
    font-size: 0.8em

  .container .volver-button
    display: flex
    margin-top: -35px
    margin-left: 7%
    transform: translateX(-50%)

  .letra_btn_volver
    display: none

  .container
    color: #454545
    font-size: 1.4em
    font-family: "Montserrat", sans-serif
    width: 100%
    margin: auto

  .container .card .name
    font-size: 13px

    .flecha-doble
      width: 1.6em
      position: relative
      margin-right: -2em

  .geo-container
    padding: 1px
    width: 490px
    height: 12em
    display: flex

  .card-campo-container
    display: flex
    flex-direction: column

  .card-campo-container .card-search
    width: 100%
    height: 100%

  .container .card-map
    width: 100%
    height: 12em
    display: flex
    justify-content: columns

  .container .campo-buttons
    bottom: 1em
    right: 0.3em
    position: relative

  .container button.geolocalizar
    width: 100%
