<div class="div-datos">
  <div class="title-datos">
    Insumos
    <button *ngIf="mostrarListado" class="back-button2 btn-cargar" (click)="openABM()"> Cargar Insumos</button>
  </div>
  <div class="body-datos">

    <ng-container *ngIf="mostrarListado else abm">

      <ng-container *ngIf="this.listadoInsumos?.length else listadoVacio">
       <miniatura [dataView]="dataView" (btnEliminar)="dialogConfirmacionEliminar($event)" [listado]="listadoInsumos"></miniatura>
      </ng-container>

         <ng-template #listadoVacio>
          <div class="listadoVacio">
           No contiene elementos
          </div>
       </ng-template>

        </ng-container>

    <ng-template #abm>

      <div class="formulario" [formGroup]="form">

        <div class="field-container">
          <mat-label class="field-label">Insumos</mat-label>
          <mat-select class="field-input"  [formControlName]="this.ctrlProducto"  placeholder="Seleccione un insumo" name="insumo">
            <mat-option *ngFor="let insumo of listadoTiposInsumos" [value]="insumo.id">{{ insumo?.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls[this.ctrlProducto]?.invalid && form.controls[this.ctrlProducto]?.touched" >* Campo requerido</mat-error>
        </div>

        <div class="field-container w-50">
          <mat-label class="field-label">Dosis</mat-label>
          <input type="number" [formControlName]="this.ctrlDosis" placeholder="Dosis"  class="field-input" name="dosis"
          placeholder="Hectáreas" min="1" max="999999" >
          <mat-error *ngIf="form.controls[this.ctrlDosis]?.invalid && form.controls[this.ctrlDosis]?.touched" >* Campo requerido</mat-error>
        </div>

        <div class="field-container w-50">
          <mat-label class="field-label">Litros por hectárea</mat-label>
          <input type="number" [formControlName]="this.ctrlHectarea" placeholder="Litros" class="field-input" name="hectareas"
          placeholder="Hectáreas" min="1" max="999999" >
          <mat-error *ngIf="form.controls[this.ctrlHectarea]?.invalid && form.controls[this.ctrlHectarea]?.touched" >* Campo requerido</mat-error>
        </div>
      </div>

      <button  class="back-button2" (click)="cancelar()"> Cancelar</button>
      <button  class="back-button2" (click)="aceptar()"> Aceptar</button>
    </ng-template>


  </div>

  <button *ngIf="mostrarListado"  class="back-button2" (click)="volver()">  Volver Atrás</button>
</div>
