
.dialog-container
  width: 400px
  max-width: 80vw
  position: static
  border-top: 8px solid #d9534f
  border-radius: 4px

.dialog-title
  display: flex
  justify-content: center
  align-items: flex-end
  font-size: 23px
  font-family: 'Montserrat', sans-serif
  color: #000000
  margin-bottom: 10px
  border-radius: 20px

.dialog-content
  font-size: 15px
  margin-bottom: 20px

.dialog-button
  font-size: 13px
  font-weight: bold
  border-radius: 7px

.cancel-button
  background-color: #3B7AF6
  color: #fff
  height: 35px
  width: 23%

.accept-button
  background-color: #4CAF50
  color: #fff
  height: 35px
  width: 23%
