
<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">
    ¿Confirmar Eliminación
  </h2>
  <div style="border-bottom: 2px solid #d9534f;"></div>
</div>

<div mat-dialog-content class="dialog-content">
  {{ data.message }}
</div>

<div mat-dialog-actions style="display: flex; justify-content: space-evenly;">
  <button *ngIf="showCancel" mat-button [mat-dialog-close]="false" class="dialog-button cancel-button">Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="dialog-button accept-button">Aceptar</button>
</div>

