<div class="mainStructure">
  <app-header-inner [title]="'Perfil'" [backButton]="true"></app-header-inner>
 <!-- Se puede mejorar usando solo una estructura general. 
      Sugiero en modo editar, que información este en el mismo form que el resto, no separarlo en dos formularios.
      Añado que el Formulario no funciona  -->
 <!-- Modo vista -->
  <ng-container *ngIf="!modoEdicion">
  <div class="profileContainer">
    <div class="profileContainer-detail">
      <div class="profileContainer-detail-avatar">
         <img src="../../../../assets/img/profile_edit.png" alt="">
      </div>
      <div class="profileContainer-detail-info"> 
        <div class="profileContainer-detail-info-name">
          {{ nombre }} {{ apellido }}
        </div> 
        <div class="profileContainer-detail-info-mail"> 
          {{ userEmail }}
           </div> 
      </div>
      <div class="profileContainer-detail-editar">
        <button  class="profileContainer-detail-editar-button" (click)="activarEdicion(true)">
          <img src="../../../../assets/img/edit_square_FILL0_wght400_GRAD0_opsz24.svg" alt="Icon Edit" class="profileContainer-detail-editar-button-icon">
        </button>
      </div>
    </div>
    <div class="profileContainer-personalData">
      <div class="profileContainer-personalData-title">Información Personal</div>
      <div class="profileContainer-personalData-content">
        <div class="profileContainer-personalData-content-item">
          <div class="profileContainer-personalData-content-item-title">Nombre</div>
          <div class="profileContainer-personalData-content-item-value">{{ nombre }}</div>
        </div>
        <div class="profileContainer-personalData-content-item">
          <div class="profileContainer-personalData-content-item-title">Apellido</div>
          <div class="profileContainer-personalData-content-item-value">{{ apellido }}</div>
        </div>
        <div class="profileContainer-personalData-content-item">
          <div class="profileContainer-personalData-content-item-title">Localidad</div>
          <div class="profileContainer-personalData-content-item-value">{{ location }}</div>
        </div>
        <div class="profileContainer-personalData-content-item">
          <div class="profileContainer-personalData-content-item-title">DNI</div>
          <div class="profileContainer-personalData-content-item-value">{{ dni }}</div>
        </div>
        <div class="profileContainer-personalData-content-item">
          <div class="profileContainer-personalData-content-item-title">Contacto</div>
          <div class="profileContainer-personalData-content-item-value">{{ telephone }}</div>
        </div>
      </div>
    </div>
    <div class="profileContainer-aditionalData">
      <div class="profileContainer-aditionalData-title">Información Adicional</div>
      <div class="profileContainer-aditionalData-content"> {{descriptions}}</div>
    </div>
  </div>
</ng-container>  
 <!-- Modo edicion -->
<ng-container *ngIf="modoEdicion">
  <div class="profileContainer">
    <div class="profileContainer-detail"> 
      <div class="profileContainer-detail-avatar">
         <img src="../../../../assets/img/profile_edit.png" alt="">
      </div>
      <div class="profileContainer-detail-info"> 
        <div class="profileContainer-detail-info-name">
          {{ nombre }} {{ apellido }}
        </div> 
        <div class="profileContainer-detail-info-mail"> 
          {{ userEmail }}
           </div> 
      </div>
      <div class="profileContainer-detail-editar">
        <button  class="profileContainer-detail-editar-button" (click)="activarEdicion(true)">
          <img src="../../../../assets/img/edit_square_FILL0_wght400_GRAD0_opsz24.svg" alt="Icon Edit" class="profileContainer-detail-editar-button-icon">
        </button>
      </div>
    </div>
    <div class="profileContainer-personalData">
      <div class="profileContainer-personalData-title">Información Personal</div>
      <form class="FullForm" (ngSubmit)="guardarCambios()" [formGroup]="userDetailsForm">
      <div class="profileContainer-personalData-content">
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="nombre">Nombre</label>
            <input class="FormInput" matInput [placeholder]="nombre" formControlName="nombre" id="nombre">
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="apellido">Apellido</label>
            <input class="FormInput" matInput [placeholder]="nombre" formControlName="apellido" id="apellido">
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="localidad">Localidad</label>
            <mat-select style="height: 45px !important;"  class="FormInput"  formControlName="localidad" placeholder="{{ location ? location : 'Seleccionar Localidad' }}" (selectionChange)="onLocalidadSelectionChange($event.value)">
              <mat-option *ngFor="let loc of localidad" [value]="loc.name">
                {{ loc.name }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="dni">DNI / CUIT</label>
            <input class="FormInput" matInput [placeholder]="dni" formControlName="dni" id="dni">
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="contacto">Contacto</label>
            <input class="FormInput" matInput [placeholder]="telephone" formControlName="contacto" id="contacto">
          </div>
        </div>
          <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="contrasenaActual">Contraseña Actual</label>
            <input class="FormInput" matInput type="password" placeholder="contraseña actual" formControlName="contrasenaActual"
              id="contrasenaActual">
          </div>
        </div>
        <div class="profileContainer-personalData-content-item margin-btm-0">
          <div class="FullForm-control margin-btm-0">
            <label class="FormLabel margin-btm-6" for="contrasena-nueva">Contraseña Nueva</label>
            <input class="FormInput" matInput type="password" placeholder="contraseña nueva" formControlName="contrasenaNueva"
              id="contrasenaNueva">
          </div>
        </div>  
      </div>
    </form>
    </div>
    <div class="profileContainer-aditionalData">
      <div class="profileContainer-aditionalData-title">Información Adicional</div>
      <form (ngSubmit)="guardarCambios()" [formGroup]="userDetailsForm">
          <div class="FullForm-control margin-btm-0">
          <textarea matInput class="FormTextarea"  [placeholder]="descriptions" formControlName="descripcion"></textarea>
        </div>
      </form>
    </div>
    <div class="FullForm-buttonsToRight">
      <button mat-button   class="secondary-button-custom size-48" type="button" (click)="activarEdicion(false)">Cancelar</button>
      <button  mat-raised-button appearance="outline"  [disabled]="!this.userDetailsForm.valid"  class="primary-button-custom size-48"  (click)="guardarCambios()">Guardar Cambios</button>
  </div> 
  </div>
</ng-container>  
 