$primary-color: #0F8054
$secundary-color: #3CA749
$hover-color: #47de5b
$error-color: #d9534f
$light-grey: #f4f4f4
$dark-grey: #454545
$medium-grey: #666
$border-color: #ddd
$font-family: 'Montserrat', sans-serif

.body
  font-family: $font-family

.register-container
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background-image: url('/assets/img/fondo_agro.png')
  background-size: cover

.register-card
  width: 500px
  max-width: 100%
  padding: 40px
  border-radius: 20px
  border: 1px solid rgba(255, 255, 255, 0.18)
  overflow: hidden
  font-family: $font-family
  text-align: center
  font-size: 14px
  @media (max-width: 600px)
    width: 90%
    padding: 20px

.logo-container
  img
    max-width: 240px

h1
  font-size: 35px
  color: $dark-grey
  font-weight: 600

.form-field-container
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%
  margin-bottom: 20px

  input
    font-size: 14px
    width: 95%
    color: $medium-grey
    padding: 10px
    border: 1px solid $dark-grey
    border-radius: 4px

    &:focus
      outline: none
      border-color: $primary-color
      box-shadow: 0 0 5px $primary-color

.toggle-password
  position: absolute
  right: 10px
  top: 25%
  cursor: pointer
  font-size: 16px
  color: $primary-color
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 4px
    pointer-events: none
    opacity: 0
    transition: opacity 0.3s ease

.mat-error
  color: $error-color
  font-size: 12px
  text-align: center
  width: 100%
  display: block
  margin-top: 5px

button[type="submit"]
  width: 100%
  padding: 10px 0
  background-color: $primary-color
  color: white
  border: none
  border-radius: 4px
  font-size: 16px
  cursor: pointer
  transition: background-color 0.3s ease

  &:hover
    background-color: $hover-color
  @media (max-width: 600px)
    width: 80%

.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 9999
  display: flex
  justify-content: center
  align-items: center

.lds-ellipsis
  position: relative
  color: #47de5b
  width: 80px
  height: 80px
  top: 2em
  left: 0em

.lds-ellipsis div
  position: absolute
  top: 33.33333px
  width: 13.33333px
  height: 13.33333px
  border-radius: 50%
  background: currentColor
  animation-timing-function: cubic-bezier(0, 1, 1, 0)

.lds-ellipsis div:nth-child(1)
  left: 8px
  animation: lds-ellipsis1 0.6s infinite

.lds-ellipsis div:nth-child(2)
  left: 8px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(3)
  left: 32px
  animation: lds-ellipsis2 0.6s infinite

.lds-ellipsis div:nth-child(4)
  left: 56px
  animation: lds-ellipsis3 0.6s infinite

@keyframes lds-ellipsis1
  0%
    transform: scale(0)
  100%
    transform: scale(1)

@keyframes lds-ellipsis3
  0%
    transform: scale(1)
  100%
    transform: scale(0)

@keyframes lds-ellipsis2
  0%
    transform: translate(0, 0)
  100%
    transform: translate(24px, 0)

.login-links
  text-align: center
  margin-top: 20px

.login-prompt
  font-size: 14px
  color: $dark-grey

.login-link
  color: $hover-color
  text-decoration: none
  margin-left: 5px
  text-decoration: underline
