<div class="login-container">
  <div class="background-image">
    <!-- Imagen de fondo -->
  </div>
  <div class="content">
    <h1 class="thank-you">¡Gracias por unirte!</h1>
    <p class="subtext">Productor</p>
    <p class="activation-message">Se ha activado correctamente su cuenta. Ya puede iniciar sesión.</p>
    <button class="login-button" (click)="redirectToLogin()">Iniciar Sesión</button>
    <footer>
      <p class="footer-text">¿Conectamos?</p>
      <div class="social-icons">
        <img src="assets/img/facebook.png" alt="Facebook" class="social-icon">
        <img src="assets/img/linkedin.png" alt="Linkedin" class="social-icon">
        <img src="assets/img/instagram.png" alt="Instagram" class="social-icon">
        <img src="assets/img/logo_silicon.png" alt="Silicon Misiones" class="silicon-logo">
      </div>
    </footer>
  </div>
</div>