<!-- Vista de bienvenida al portal -->

<div class="container">
  <img class="background-image" src="/assets/img/pantalla_inicio.png" alt="">
  <mat-card class="card-blur">
    <span class="welcome-title">¡Gracias por unirte!</span>
    <img src="assets/img/log_sustentable.png" alt="Imagen Superior" class="top-image">
    <span class="white-text">Se ha activado correctamente su cuenta.Pasaremos a completar tu perfil.</span>
  </mat-card>
  <footer>
    <div class="social-icons">
      <img src="assets/img/facebook.png" alt="Facebook" class="social-icon">
      <img src="assets/img/linkedin.png" alt="Linkedin" class="social-icon">
      <img src="assets/img/instagram.png" alt="Instagram" class="social-icon">
      <img src="assets/img/logo_silicon.png" alt="Silicon Misiones" class="silicon-logo">
    </div>
  </footer>
</div>
