.dialog-button
  font-size: 13px
  font-weight: bold
  border-radius: 7px
  color: #ffffff // Color blanco para el texto

.cancel-button
  background-color: #3b7af6
  height: 35px
  width: 23%

.accept-button
  background-color: #4caf50
  height: 35px
  width: 23%
