<div class="container">
  <div class="header-container2">
    <h2 class="title2">Detalle de Chacra</h2>
    <button class="back-button2" (click)="volver()"> << Volver Atrás</button>
  </div>

  <div class="card-campo-container">
    <div class="campo-card">
      <div id="map" class="campo-image-container" *ngIf="mostrarMapaPrincipal"></div>
      <div class="campo-image-container" *ngIf="mostrarImagenPrincipal">
        <img src="/assets/img/imagen_no_geolocation.png" alt="Campo Image" class="campo-image">
      </div>
    </div>

    <div class="campo-details-card">
      <h4 class="title-campo-details">{{ campoSeleccionado.name }}</h4>
      <div class="details localidad">
        <span class="localidad">Localidad:</span>
        <span class="loc_details">{{ campoSeleccionado.address.location.name }}</span>
        <img src="assets/img/location.svg" alt="Icono" class="icono_location">
      </div>
      <div class="details direccion">
        <span>Dirección:</span>
        <span class="direc_details">{{ campoSeleccionado.address.address }}</span>
      </div>
      <div class="details hectareas">
        <span>Hectáreas:</span>
        <span class="hect_details">{{ campoSeleccionado.dimensions }}</span>
      </div>
      <div class="details descripcion">
        <span>Descripción:</span>
        <span class="desc_details" >{{ campoSeleccionado.observation }}</span>
      </div>
      <div class="campo-buttons">
        <button class="geolocalizar" (click)="geolocalizar()">Editar Geolocalizar <img src="assets/img/location.svg" alt="Icono" class="icono_location"></button>
      </div>
    </div>

  </div>

</div>
