<div class="mainStructure">
  <app-header-inner [title]="'Detalle de Chacra'" [backButton]="true"></app-header-inner>
  <div class="ContainerLocation">
    <div class="ContainerLocation-map">
      <div id="map" *ngIf="mostrarMapaPrincipal"></div>
      <div  *ngIf="mostrarImagenPrincipal">
        <img src="/assets/img/imagen_no_geolocation.png" style="width: 400px;
    height: 400px;">
    </div>
    <div>
    </div>
  </div>
  <div class="ContainerLocation-chacra">
    <h4 class="ContainerLocation-chacra-h4">{{ campoSeleccionado.name }}</h4>
      <div class="ContainerLocation-chacra-details grow-1 ">
        <p> <strong>Localidad :</strong> {{ campoSeleccionado.address.location.name }}  <img src="assets/img/location.svg" alt="Icono" class="icono_location"></p>
        <p> <strong>Dirección : </strong> {{ campoSeleccionado.address.address }} </p>
        <p> <strong>Hectáreas : </strong> {{ campoSeleccionado.dimensions }} </p>
        <p> <strong>Descripción : </strong>  {{ campoSeleccionado.observation }} </p>
      </div>
        <div class="ContainerLocation-chacra-buttons">
        <button class="primary-button-auto size-48 basis-300"  mat-raised-button (click)="geolocalizar()">Editar Geolocalización</button>
      </div>
  </div>
</div>