<div class="mainStructure">
  <app-header-inner [title]="'Registrar Chacra'" [backButton]="true"></app-header-inner>
    <form class="FullForm" [formGroup]="campoForm" (ngSubmit)="registrarCampo()">
      <div class="FullForm-control">
        <label class="FormLabel" for="name">Nombre</label>
        <input class="FormInput"   type="text" formControlName="name" placeholder="Nombre de la chacra" required>
        <span *ngIf="campoForm.get('name')?.hasError('required') && nameTouched" class="error-message">Este campo es
          requerido</span>
      </div> 
      <div class="FullForm-control">
        <label class="FormLabel" for="localidad">Localidad</label>
        <select class="FormInput" formControlName="localidad" required>
            <option class="my-custom-panel-class" *ngFor="let loc of localidades" [value]="loc.id">{{ loc.name }}</option>
        </select>
    </div>
      <div class="FullForm-control">
        <label class="FormLabel" for="address">Dirección</label>
        <input class="FormInput" type="text" formControlName="address" placeholder="Dirección de la chacra" required>
        <span *ngIf="campoForm.get('address')?.hasError('required') && addressTouched" class="error-message">Este
          campo es requerido</span>
      </div>
      <div class="FullForm-control">
        <label class="FormLabel" for="dimensions">Dimensiones (Hectáreas)</label>
        <input class="FormInput" type="number" formControlName="dimensions" placeholder="Ingresar valores en hectáreas"
          required [min]="1" (blur)="dimensionsTouched = true">
        <span *ngIf="campoForm.get('dimensions')?.hasError('required') && dimensionsTouched"
          class="error-message">Este campo es requerido</span>
        <span *ngIf="campoForm.get('dimensions')?.hasError('min') && dimensionsTouched" class="error-message">El
          valor debe ser mayor a 0</span>
      </div>
      <div class="FullForm-control">
        <label class="FormLabel" for="observation">Descripción</label>
        <textarea class="FormTextarea" formControlName="observation" placeholder="Descripción"></textarea>
      </div>
    <div class="FullForm-buttonsToRight">
      <button mat-button   class="secondary-button-custom size-48" type="button" (click)="cancelar()">Cancelar</button>
      <button  mat-raised-button appearance="outline"  class="primary-button-custom size-48"  type="submit" [disabled]="!campoForm.valid">Registrar Chacra</button>
  </div> 
</form> 
</div>