
<div class="mainStructure">
  <app-header-inner [title]="'Solicitudes y Servicios'" [backButton]="true"></app-header-inner>
  <app-dinamic-searchbar
  [filterConfigs]="filterConfigs"
  [buttonConfigs]="buttonConfigs"
  [cultivosOptions]="cultivos"
  (filter)="onFilter($event)"
  (clearFilter)="limpiarSeleccion()">
  </app-dinamic-searchbar>

  <ng-container *ngIf="this.listado.length else listadoVacio"> 
     <app-card [dataView]="dataView" [listado]="listado" [typeCard]="'lote'"></app-card>
  </ng-container>

  <ng-template #listadoVacio>
    <p *ngIf="!this.lotesOriginal.length else noHayResultados">
      No posee solicitud de servicios
    </p>
    <ng-template #noHayResultados>
      <p>No se encontraron resultados</p>
    </ng-template >
  </ng-template>

</div>
