// Variables de colores
$primary-color: #0F8054
$secondary-color: #3CA749
$light-grey: #f4f4f4
$medium-grey: #808080
$hard-black: #232323
$hard-grey: #454545
$hover-color: #47de5b
$error-color: #d9534f
$white-color: #FFFFFF
$border-card: #929497
$color-footer: #3BA549
$font-family: 'Montserrat', sans-serif

.container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto

.titulo-perfil
  color: $hard-grey
  font-size: 1.2em
  font-family: "Montserrat", sans-serif
  margin-left: 1%
  margin-top: 0.5%
  font-weight: bold

.titulo-chacra
  color: #0F8054
  font-family: "Montserrat", sans-serif
  font-size: 1.5em
  font-weight: bold
  margin-left: 0.5em
  margin-bottom: 0px

.main-card
  width: 100%
  padding: 20px
  border-radius: 10px
  background-color: $white-color
  position: relative
  display: grid
  grid-template-columns: 1fr

.card
  background: linear-gradient(to bottom, #3BA549 40%, #0F8054 100%)
  padding: 10px
  border-radius: 30px
  border: 2px solid #ccc
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3)
  display: grid
  grid-template-columns: 1fr auto
  gap: 20px
  width: 98%
  margin-left: 1em

.user-content
  display: flex
  align-items: center
  gap: 20px

  .avatar
    position: relative

    .avatar-circle
      width: 90px
      height: 90px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      border: 2px solid #808080
      background-color: white
      position: relative

      .avatar-icon
        font-size: 60px
        border-radius: 50%
        color: $medium-grey
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center

      .avatar-circle img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 50%

      mat-icon
        height: unset
        width: unset
        color: white
        font-size: 16px
        overflow: none

      .edit-avatar-button
        display: flex
        position: absolute
        bottom: 0
        right: 0
        background-color: $primary-color
        padding: 3px
        border-radius: 50%
        cursor: pointer

  .titulo-perfil-avatar
    color: $white-color
    font-size: 14px
    font-family: $font-family

  .email
    font-size: 14px
    color: $white-color
    font-weight: bold
    font-family: $font-family

.botones-servicio
  display: flex
  justify-content: flex-end
  align-items: center
  margin-top: 45%

.register-button
  padding: 8px 18px
  border: 2px solid $white-color
  border-radius: 5px
  cursor: pointer
  transition: background-color 0.3s, border-color 0.3s
  font-size: 0.85em
  font-family: 'Montserrat', sans-serif
  font-weight: bold
  background-color: $primary-color
  color: white
  margin-right: 2em

.card-campos-section
  background-color: $white-color
  padding: 20px
  border-radius: 10px
  margin-top: 16px
  overflow: auto

  .titulo-campos
    color: $primary-color
    font-size: 1.5em
    margin-bottom: 20px
    font-family: $font-family

  .campos-container
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))
    gap: 16px

  .campo-card
    background-color: $white-color
    padding: 17px
    border-radius: 10px
    border: 1px solid $border-card
    font-family: $font-family

    img
      max-width: 100%
      border-radius: 8px
      margin-bottom: 10px

    h3
      color: $hard-black
      font-size: 1.2em
      margin-bottom: 8px
      font-family: $font-family
      width: 20em

    p
      color: $hard-black
      margin-bottom: 10px
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
      text-overflow: ellipsis
      text-align: justify

    .icono_location
      width: 20px
      height: auto
      margin-left: 5px
      vertical-align: middle

    .campo-variable
      font-weight: bold
      font-family: $font-family

    .ver-mas-button
      background-color: $primary-color
      width: 100%
      color: white
      cursor: pointer
      padding: 8px 18px
      border: 1px solid transparent
      border-radius: 5px
      transition: background-color 0.3s, border-color 0.3s
      font-size: 0.85em
      font-family: 'Montserrat', sans-serif
      font-weight: bold

@media screen and (max-width: 768px)

  .card
    display: block
    width: 100%
    margin-left: -0.7em

  .card-campos-section
    width: 100%

  .campo-card
    left: -1.2em
    width: 95%
    position: relative

  .main-card
    width: 98%

  .user-content
    flex-direction: column
    align-items: center
    gap: 10px

  .titulo-perfil
    font-size: 1.2em
    margin-left: 14%

  .titulo-perfil-avatar
    margin-top: 10px
    text-align: center

  .botones-servicio
    display: flex
    justify-content: center
    margin-top: 2%
    margin-left: 10%

  .register-button
    width: 100%
    margin-top: 10px
