$primary-color: #3CA749
$secondary-color: #8FCA8F
$hover-color: #32963f
$error-color: #d9534f
$light-grey: #f4f4f4
$dark-grey: #454545
$medium-grey: #808080
$border-color: #ddd
$font-family: 'Montserrat', sans-serif

body
  font-family: $font-family

.titulo-bienvenida h2
  color: $dark-grey
  font-size: 1.5em
  font-weight: bold
  font-family: 'Montserrat', sans-serif
  padding: 20px

.container
  display: flex
  flex-direction: column
  justify-content: center
  // align-items: center
  height: 100vh

  .card
    background-color: $light-grey
    padding: 20px
    border-radius: 10px
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3)
    margin: 20px
    width: 90%
    margin-top: -10px

    &.user-card
      display: flex
      justify-content: center
      flex-direction: column
      align-items: flex-start
      margin-top: 8px
      .avatar
        align-items: center
        flex-direction: column
        margin-bottom: 20px
        border-radius: 50%
        overflow: hidden
        border: 3px solid $primary-color
        width: 100px
        height: 100px

        img
          width: 100%
          height: 100%
          border-radius: 50%
          margin-bottom: 10px

        p
          font-size: 1.2em
          color: $dark-grey

    .titulo-registrar-campo
      color: $primary-color
      font-family: 'Montserrat', sans-serif
      font-size: 1.5em
      font-weight: bold
      margin-bottom: 20px

    .solicitud-servicio-form
      .campos-formulario
        display: flex
        justify-content: space-between

        .grupo-campos
          width: 50%

          .field-container
            margin-bottom: 10px

            .field-label
              display: block
              margin-bottom: 5px
              font-size: 0.9em
              color: $medium-grey
              font-weight: bold

            .field-input
              width: 90%
              border: 1px solid $border-color
              border-radius: 4px
              padding: 8px
              background-color: white
              font-size: 0.9em
              box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2)
              &:focus
                outline: none
                border-color: $primary-color
                box-shadow: 0 0 5px $primary-color

        .field-container-observaciones
          width: 50%
          display: flex
          flex-direction: column

          .field-label
            margin-bottom: 6px
            font-size: 0.9em
            color: $medium-grey
            font-weight: bold

          .field-input-obs
            height: 30%
            border: 1px solid $border-color
            border-radius: 4px
            padding: 8px
            background-color: white
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3)
            font-size: 0.9em
            color: $medium-grey
            font-family: $font-family
            &:focus
              outline: none
              border-color: $primary-color
              box-shadow: 0 0 5px $primary-color

    .botones-servicio
      display: flex
      justify-content: flex-end
      margin-top: 10px

  .botones-servicio
    display: flex
    justify-content: flex-end
    margin-top: 10px

  button
    padding: 8px 18px
    border: 1px solid transparent
    border-radius: 5px
    cursor: pointer
    transition: background-color 0.3s, border-color 0.3s
    font-size: 0.85em
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    margin-left: 10px

    &.cancel-button
      background-color: white
      color: $primary-color
      border-color: $primary-color

      &:hover
        background-color: #f8f8f8
        border-color: darken($primary-color, 10%)

    &.register-button
      background-color: $secondary-color
      color: white

      &:hover
        background-color: $primary-color
