<div class="div-datos">
  <div class="title-datos">
    Editar Datos
   <button *ngIf="!editar" class="back-button2 btn-cargar" [ngClass]="{'service-backOffice': this.backOffice}"  (click)="editarDatos()"> Editar</button>
  </div>
  <div class="body-datos">
      <div class="formulario" [formGroup]="form">
  <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <mat-label class="field-label">Fecha de visita</mat-label>
          <mat-form-field class="width-full" appearance="outline">
          <input placeholder="Seleccione una fecha" matInput  [min]="minDate" [matDatepicker]="dpDesde"
                [formControlName]="ctrl_dateOfVisit" autocomplete="off">
             <mat-datepicker-toggle matPrefix [for]="dpDesde"></mat-datepicker-toggle>
             <mat-datepicker #dpDesde startView="multi-year"></mat-datepicker>
            </mat-form-field>
        </div>

       <div class="col-12">
          <mat-label class="field-label">Observaciones</mat-label>
          <textarea  [formControlName]="this.ctrl_observation"  placeholder="Descripción"  matInput class="observaciones" ></textarea>
        </div>
 </div>
      </div>

      <button  *ngIf="editar"   class="back-button2" [ngClass]="{'service-backOffice': this.backOffice}"  (click)="cancelar()"> Cancelar</button>
      <button  *ngIf="editar"   class="back-button2" [ngClass]="{'service-backOffice': this.backOffice}"  (click)="aceptar()"> Cargar datos app</button>

  </div>

  <button  *ngIf="!editar" class="back-button2" [ngClass]="{'service-backOffice': this.backOffice}"  (click)="volver()">  Volver Atrás</button>
</div>
