<div class="ancho-estado" *ngIf="selectorEstados && this.admin" >
  <mat-label>Cambiar estado</mat-label>
  <mat-select *ngIf="this.mostrarSelector" (selectionChange)="dialogConfirmacionCambiarEstado($event)" placeholder="Seleccionar estado" class="field-input" name="productor">
    <mat-option *ngFor="let estado of detalleServicioService.estados" [value]="estado">{{ estado?.name }}</mat-option>
  </mat-select>
</div>

<div class="ancho-estado" *ngIf="this.productor && !estadoSolicitudBajaServicio" >
  <mat-label>Baja del servicio</mat-label>
  <button class="back-button2" (click)="dialogConfirmacionSolicitudBaja()">Solicitar</button>
</div>
