<mat-toolbar class="Toolbar">
    <div  class="Toolbar__logo-desktop"  *ngIf="!isScreenSmall">
      <img src="assets/img/LogoAgroBYTECH.svg" alt="Logo">
    </div>
    <div>
      <button  style="border: none;background-color: #fff;" mat-icon-button (click)="toogle()" *ngIf="isScreenSmall" >
        <mat-icon style="color:#0F8054;">menu</mat-icon>
      </button>
    </div>
      <div *ngIf="isScreenSmall" class="logo-mobile">
        <img src="assets/img/LogoAgroBYTECH_M.svg" alt="Logo" class="dashboard-logo">
      </div>
      <div class="profile">
            <img (click)="toDashboard()" src="assets/img/Icon _notif_orange.svg" alt="Foto de perfil">
            <img src="assets/img/profile.png" alt="Foto de perfil" [matMenuTriggerFor]="menu">
    </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard/perfil">Perfil</button> 
        <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
      </mat-menu>
    </mat-toolbar>