<div class="container">
  <img class="background-image" src="/assets/img/2024_Backs_Drone_Misiones_01.png" alt="">
  <mat-card class="card-blur">
    <img src="assets/img/logo_agro_white.png" alt="Imagen Superior" class="top-image">
    <div class="centrar-card">
      <mat-card class="user-details-card">
        <header>Por favor ingresa tus datos</header>
        <mat-card-content>
          <form [formGroup]="userDetailsForm">
            <div class="datos-users">
              <div class="field-container">
                <label class="field-label" for="nombre">Nombre</label>
                <input matInput formControlName="nombre" id="nombre">
              </div>

              <div class="field-container">
                <label class="field-label" for="apellido">Apellido</label>
                <input matInput formControlName="apellido" id="apellido">
              </div>

              <div class="field-container">
                <label class="field-label" for="dni">DNI</label>
                <input matInput formControlName="dni" id="dni"
                  [ngClass]="{ 'invalid-field': userDetailsForm.get('dni')?.invalid && (userDetailsForm.get('dni')?.dirty || userDetailsForm.get('dni')?.touched) }">

              </div>


              <div class="field-container">
                <label class="field-label" for="contacto">Contacto</label>
                <input matInput formControlName="contacto" id="contacto"
                  [ngClass]="{ 'invalid-field': userDetailsForm.get('contacto')?.invalid && (userDetailsForm.get('contacto')?.dirty || userDetailsForm.get('contacto')?.touched) }">
              </div>

              <div class="field-container">
                <label class="field-label" for="localidad">Localidad</label>
                <mat-select formControlName="localidad" placeholder="Seleccionar localidad">
                  <mat-option *ngFor="let loc of filteredLocalidades | async" [value]="loc.id">
                    {{ loc.name }}
                  </mat-option>
                </mat-select>
              </div>

              <div class="btn_TyC">
                <mat-checkbox formControlName="aceptarTerminos" class="mat-primary">
                  <a (click)="openTermsPopup()" class="terminos-link">Acepto los términos y condiciones</a>
                </mat-checkbox>
              </div>

              <!-- PopUp para los términos y condiciones -->
              <div *ngIf="isTermsPopupVisible" class="popup-overlay">
                <div class="popup">
                  <p><strong>Plataforma AGROtech</strong></p>

                  <p>En AGROtech agradecemos la confianza que depositás en nosotros a la hora de convertirte en nuestro
                    cliente y creemos que la mejor forma de honrar esa confianza es a través de la transparencia y la
                    excelencia en el servicio.</p>

                  <p>Por este motivo te pedimos que leas con atención las siguientes Términos y Condiciones de
                    utilización del servicio y que te comuniques con nosotros ante cualquier duda que pudiera surgir a
                    partir de las mismas.</p>

                  <p>Al registrarte en <a href="https://www.____________">https://www.____________</a>, incluyendo todas
                    las páginas relacionadas a la empresa, a través del sitio web o cualquiera de sus subdominios
                    aceptás las prácticas y términos y condiciones descritos en esta declaración.</p>

                  <p>La Compañía posee y opera el sitio <a href="https://www.____________">https://www.____________</a>.
                    Brindamos una herramienta digital que complementa la conducción de los cultivos, por la cual se
                    podrá solicitar aplicación de bio insumos, visualizar el lote, generar mapeo aéreo, consulta de
                    datos meteorológicos, descargar informes, entre otras cosas. El acceso a la plataforma web y la
                    utilización de sus servicios está sujeto a la aceptación de los Términos y Condiciones que se
                    establecen a continuación, junto con la Política de Datos y Privacidad. Al acceder como usuario a la
                    Plataforma, se entenderá que presta su conformidad con los Términos y Condiciones, en adelante
                    “Términos”. Éstos podrán estar sujetos a modificaciones.</p>

                  <p>La Compañía se reserva el derecho, a su discreción, de cambiar, modificar, añadir o eliminar partes
                    de estos Términos en cualquier momento. En caso de algún cambio sustancial, el mismo será notificado
                    al correo electrónico informado en el momento de la registración. Sin perjuicio de ello, te
                    recomendamos que consultes estos Términos en forma periódica para ver si se han registrado cambios.
                    La falta de oposición expresa, y/o el uso del Servicio por parte tuya después de la publicación de
                    dichos cambios implica la aceptación de los mismos.</p>

                  <p>Si tenés alguna pregunta acerca de estos Términos y Condiciones o querés comunicarte con nosotros
                    por cualquier razón enviá un correo electrónico a <a
                      href="mailto:soporte@____________">soporte@____________</a>.</p>

                  <p><strong>Descripción de la plataforma.</strong></p>

                  <p>El Sitio web y el acceso a la plataforma funciona con tu computadora personal y dispositivos
                    compatibles (celular, tablet). Para utilizar el Servicio, deberás registrarte y crear una cuenta en
                    <a href="https://www.____________">https://www.____________</a>. Nos reservamos el derecho a
                    realizar actualizaciones periódicas del Servicio, con o sin previo aviso.</p>

                  <p>La Plataforma consiste en una herramienta vía web y mobile dirigida a toda persona humana o
                    jurídica o consorcio o unión transitoria u otra forma de asociación que desarrolle y/o explote la
                    actividad agrícola y/o actividades afines. A través de la misma, se proporciona a los usuarios
                    herramientas de gestión de cultivos e información estadística proveniente de análisis de datos
                    registrados por los usuarios y por terceros, diagnósticos y recomendaciones y alertas personalizadas
                    tendientes a mejorar las actividades enunciadas.</p>

                  <p>Te proporcionamos una experiencia personalizada: Tu experiencia en AGROtech no se parece a la de
                    los demás usuarios: Usamos los datos que tenemos sobre tu perfil. Por ejemplo: el rol que tenés, la
                    geolocalización de tus lotes, los cultivos que producís, los insumos que preferís, etc., para
                    personalizar tu experiencia.</p>

                  <p>Usamos y desarrollamos tecnologías avanzadas para brindar servicios seguros y funcionales a todos:
                    Usamos y desarrollamos tecnologías avanzadas para que los usuarios puedan usar nuestros productos de
                    manera segura.</p>

                  <p>Investigamos formas de mejorar nuestros servicios. Realizamos investigaciones para desarrollar,
                    probar y mejorar nuestros productos. Esto incluye analizar los datos que tenemos sobre nuestros
                    usuarios y entender cómo usan las personas nuestros Productos, por ejemplo, realizando encuestas,
                    probando funcionalidades nuevas y solucionando problemas relacionados con ellas.</p>

                  <p><strong>Alcance del servicio:</strong></p>

                  <p>El alcance del Servicio dependerá de la solicitud y condiciones meteorológicas de cada plan de
                    vuelo.</p>

                  <p><strong>Cesión del contrato a terceros:</strong></p>

                  <p>El cliente no podrá ceder a terceros su posición contractual o cualquiera de los derechos u
                    obligaciones derivados del presente contrato bajo apercibimiento de resolver el contrato.</p>

                  <p><strong>Autorización:</strong></p>

                  <p>Cada usuario autoriza a AGROtech a utilizar su nombre, imagen personal y de su propiedad privada, o
                    a terceros asociados a la empresa únicamente a los fines del cumplimiento de los Servicios. También
                    autoriza a AGROtech a utilizar drones sobre los lotes de su propiedad.</p>

                  <p><strong>Cancelación:</strong></p>

                  <p>AGROtech se reserva el derecho de dar por terminado el contrato en forma automática</p>

                  <p><strong>Terminación:</strong></p>

                  <p>La Compañía se reserva el derecho a dar por terminada su Cuenta de AGROtech y/o el acceso por parte
                    de usted al Servicio si infringe los Términos y Condiciones del Servicio. Si se diera por terminada
                    su membresía y suscripción(es) de AGROtech al Servicio, no serán reembolsables las cuotas ni los
                    cargos.</p>

                  <p><strong>Responsabilidad por la información contenida en la plataforma:</strong></p>

                  <p>Al utilizar el Servicio, el usuario/cliente autoriza la recopilación, procesamiento y utilización
                    de toda aquella información relacionada con el uso que hace del Servicio, la cual se recopila y
                    maneja de conformidad con los términos de nuestra Política de Datos y Privacidad.</p>

                  <p>AGROtech y/o los terceros asociados a la empresa no se responsabilizan por los daños y perjuicios
                    que pudiera ocasionar la implementación o el uso de la información que provee la Plataforma, ya sea
                    a través de los diferentes módulos que provee la herramienta o de los diagnósticos y recomendaciones
                    de expertos recibidas a través de ella. En ningún caso AGROtech o los terceros asociados a la
                    empresa responderán ante el Usuario por el lucro cesante, la pérdida de chances y/o toda
                    consecuencia mediata o daño indirecto derivado de cualquier circunstancia que se vincule con la
                    Plataforma.</p>

                  <p><strong>Riesgo de uso:</strong></p>

                  <p>Ni la Compañía ni sus Afiliadas asumirán responsabilidad alguna y no serán responsables por ningún
                    daño o virus que provoque algún daño a su computadora u otra propiedad como consecuencia del acceso,
                    uso, descarga o navegación por el Servicio.</p>

                  <p><strong>Uso de marcas:</strong></p>

                  <p>No puede utilizar ninguna de las marcas comerciales que se encuentran dentro del Servicio, salvo lo
                    especificado en el presente y de conformidad con la legislación aplicable. No puede copiar, exhibir
                    o utilizar ninguna de las marcas comerciales sin el permiso previo por escrito del propietario.</p>

                  <p>Cualquier uso no autorizado podría violar las leyes de marcas comerciales, las leyes de privacidad
                    y publicidad, así como las leyes civiles o penales. Las marcas que figuran a continuación son marcas
                    registradas de la Compañía.</p>

                  <p><strong>Usuario:</strong></p>

                  <p>Para ser Usuario de la Plataforma, la persona deberá ser mayor de edad y contar con la capacidad
                    legal de contratar. Para el caso que el Usuario se registre en representación de una sociedad o
                    consorcios, uniones transitorias u otras formas de asociación deberá tener facultades para contratar
                    y obligar a la misma en los Términos y Condiciones del presente acuerdo. A tales fines, el Usuario
                    deberá completar el formulario de registro en todos sus campos. Los campos deberán completarse con
                    su información personal y/o societaria de manera exacta, precisa y verdadera. El Usuario declara
                    bajo juramento que la información proporcionada es verdadera y que posee las facultades suficientes
                    para realizar las operaciones para las que se registra. El Usuario garantiza y responde, en todos
                    los casos, por la veracidad, vigencia y autenticidad de los datos personales, societarios e
                    información suministrada. AGROtech se reserva el derecho de solicitar datos adicionales para el caso
                    de Usuarios que realicen transacciones que requieran de facultades adicionales exigidas por ley o
                    por las políticas actuales o futuras de la Plataforma. AGROtech se reserva el derecho de solicitar
                    en cualquier momento documentación o comprobantes para corroborar la veracidad y exactitud de los
                    datos personales y/o societarios suministrados por el Usuario. AGROtech se reserva el derecho de
                    rechazar cualquier solicitud de registración o de cancelar una registración previamente aceptada,
                    sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún
                    derecho a indemnización o resarcimiento.</p>

                  <p><strong>Propiedad intelectual:</strong></p>

                  <p>La Plataforma como así también los programas, bases de datos, redes, archivos que permiten al
                    Usuario acceder y usar su Cuenta, son de propiedad de AGROtech. El uso indebido y la reproducción
                    total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de
                    AGROtech. La retransmisión o publicación de cualquier material obtenido desde la Plataforma se
                    encuentra prohibida sin el previo consentimiento escrito de AGROtech.</p>

                  <p><strong>AGROtech</strong></p>

                  <!-- Botón para cerrar el popup -->
                  <button style="background-color: #3CA749; color:white" (click)="closeTermsPopup()">Aceptar</button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
        <div class="botones-servicio">
          <button mat-raised-button class="cancel-button" type="button" (click)="cancelar()">Cancelar</button>
          <button mat-raised-button class="register-button" (click)="cargarDatosPerfil()">Aceptar</button>
        </div>
      </mat-card>
    </div>
  </mat-card>
</div>
