<div class="container">
  <img class="background-image" src="/assets/img/pantalla_inicio.png" alt="">
  <mat-card class="card-blur">
    <img src="assets/img/log_sustentable.png" alt="Imagen Superior" class="top-image">
    <mat-card class="user-details-card">
      <header>Por favor ingresa tus datos</header>
      <mat-card-content>
        <form [formGroup]="userDetailsForm">
          <div class="datos-users">

            <div class="field-container">
              <label class="field-label" for="nombre">Nombre</label>
              <input matInput formControlName="nombre" id="nombre">
            </div>

            <div class="field-container">
              <label class="field-label" for="apellido">Apellido</label>
              <input matInput formControlName="apellido" id="apellido">
            </div>

            <div class="field-container">
              <label class="field-label" for="dni">DNI</label>
              <input matInput formControlName="dni" id="dni">
            </div>

            <div class="field-container">
              <label class="field-label" for="contacto">Contacto</label>
              <input matInput formControlName="contacto" id="contacto">
            </div>

            <div class="field-container">
              <label class="field-label" for="localidad">Localidad</label>
              <mat-select formControlName="localidad" placeholder="seleccionar localidad">
                <mat-option *ngFor="let loc of localidades" [value]="loc.id">
                  {{ loc.name }}
                </mat-option>
              </mat-select>
            </div>

          </div>
        </form>

      </mat-card-content>
      <div class="botones-servicio">
        <button mat-raised-button class="cancel-button" type="button" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button class="register-button" (click)="cargarDatosPerfil()">Aceptar</button>
      </div>
    </mat-card>
  </mat-card>

</div>
