<div class="mainStructure">
  <app-header-inner [title]="'Informes'" [backButton]="true"></app-header-inner>
  <div class="informes">
    <div class="cards-container">
      <div class="cards-container">
        <app-widget
          *ngFor="let id of widgetIds"
          [config]="getWidgetConfig(id)"
          (widgetClick)="onButtonClick($event)">
        </app-widget>
      </div>
    </div>
    <div class="dashboardContainer">
      <div class="dashboardContainer-card">
        <div class="dashboardContainer-card-header">
          <div class="dashboardContainer-card-header-title__section">
            <h3>
              <span *ngIf="selectedButtonId === 1">Detalle de Chacras</span>
              <span *ngIf="selectedButtonId === 2">Detalle de Plantaciones</span>
              <span *ngIf="selectedButtonId === 3">Detalle de Hectáreas</span>
            </h3>
            <div class="dashboardContainer-card-header-title__section-subtitle" *ngIf="selectedButtonId === 1">Cantidad total</div>
          </div>
          <div class="dashboardContainer-card-header-total-count" *ngIf="selectedButtonId === 1">
            <span class="dashboardContainer-card-header-total-count-number">{{chacrasLength}}</span>
          </div>
        </div>
        <div class="dashboardContainer-card-chart">
          <canvas *ngIf="selectedButtonId === 1"
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="'bar'"
            [legend]="false">
          </canvas>
          <canvas *ngIf="selectedButtonId === 2"
            baseChart
            [data]="pieChartData"
            [options]="pieChartOptions"
            [type]="'pie'">
          </canvas>
          <canvas *ngIf="selectedButtonId === 3"
            baseChart
            [data]="pieChartDataHectareas"
            [options]="pieChartOptionsHectareas"
            [type]="'pie'">
          </canvas>
        </div>
      </div>
      <div class="dashboardContainer-card">
        <app-table *ngIf="selectedButtonId === 1"
                  [data]="dataSourceBar.data"
                  [subtitle]="selectedFieldName || 'Seleccionar del gráfico'">
    <ng-template #headers>
      <th>Nombre</th>
      <th>Plantación</th>
      <th>Hectáreas</th>
    </ng-template>
    <ng-template #rows let-row>
      <td>{{row.name}}</td>
      <td>{{row.plantacion.name}}</td>
      <td>{{row.dimension}}</td>
    </ng-template>

  </app-table>
  <app-table *ngIf="selectedButtonId === 2 || selectedButtonId === 3"
            [data]="dataSourcePie.data"
            [subtitle]="selectedPlantationName || 'Seleccionar del gráfico'">
    <ng-template #headers>
      <th>Chacra</th>
      <th>Lote</th>
      <th>Hectáreas</th>
    </ng-template>
    <ng-template #rows let-row>
      <td>{{row.name}}</td>
      <td>{{row.lote.name}}</td>
      <td>{{row.lote.size}}</td>
    </ng-template>
 
  </app-table>
      </div>
    </div>
  </div>

</div>

<!--   <div class="informes">
    <div class="header-container2">
      <h2 class="title2">Informes</h2>
    </div>
   
    <div class="div-container-buttons">
      <mat-grid-list [cols]="isScreenSmall ? 3 : 4" rowHeight="100" [gutterSize]="isScreenSmall ? '8px' : '50px'">
        <mat-grid-tile>
          <button
            disabled = "{{buttonsDisabled}}"
            mat-button
            (click)="onButtonClick(1)"
            [ngClass]="{'selected-button': selectedButtonId === 1}"
            class="aligned-left-button"
          >
            <div class="col-container">
              <div class="col-left">
                Chacras
                <p>
                  <mat-icon style="color: #3BA549;">arrow_upward</mat-icon>
                  {{chacras.length!=0? chacras.length : 'cargando..'}}
                </p>
              </div>
           
              <div class="col-right">
                <img *ngIf="!isScreenSmall" src="assets/img/img-chacra-verde.svg" alt="Logo" class="img-info" />
              </div>
            </div>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button
            disabled = "{{buttonsDisabled}}"
            mat-button
            (click)="onButtonClick(2)"
            [ngClass]="{'selected-button': selectedButtonId === 2}"
            class="aligned-left-button"
          >
            <div class="col-container">
              <div class="col-left">
                Plantaciones
                <p>
                  <mat-icon style="color: #3BA549;">arrow_upward</mat-icon>
                  {{objetoPlantaciones.length!=0? objetoPlantaciones.length : 'cargando..'}}
                </p>
              </div>
           
              <div class="col-right">
                <img *ngIf="!isScreenSmall" src="assets/img/img-plantaciones.svg" alt="Logo" class="img-info" />
              </div>
            </div>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button
            disabled = "{{buttonsDisabled}}"
            mat-button
            (click)="onButtonClick(3)"
            [ngClass]="{'selected-button': selectedButtonId === 3}"
            class="aligned-left-button"
          >
            <div class="col-container">
              <div class="col-left">
                Hectáreas
                <p>
                  <mat-icon style="color: #3BA549;">arrow_upward</mat-icon>
                  {{hectareasTotal!=0? hectareasTotal : 'cargando..'}}
                </p>
              </div>
           
              <div class="col-right">
                <img *ngIf="!isScreenSmall" src="assets/img/img-chacra-verde.svg" alt="Logo" class="img-info" />
              </div>
            </div>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
   
   
    <div class="div-container-charts">
      <mat-grid-list [cols]="isScreenSmall ? 1 : 2"  rowHeight="50vh"  gutterSize="10px">
        <mat-grid-tile>
          <canvas *ngIf="showBarChart === 1"
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [legend]="false"
            [type]="'bar'">
          </canvas>
          <canvas *ngIf="showBarChart === 2"
            baseChart
            [data]="pieChartData"
            [options]="pieChartOptions"
            [type]="'pie'">
          </canvas>
          <canvas *ngIf="showBarChart === 3"
            baseChart
            [data]="pieChartDataHectareas"
            [options]="pieChartOptionsHectareas"
            [type]="'pie'">
          </canvas>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="table-container">
            
            <p class="titulo-table" *ngIf="dataSourceBar.data.length>0 && showBarChart===1" >Chacra: {{chacras[datasetIndex].name}}</p>
              <table mat-table [dataSource]="dataSourceBar" class="mat-elevation-z8" *ngIf="showBarChart === 1">
               
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="typeCropName">
                  <th mat-header-cell *matHeaderCellDef> Plantación </th>
                  <td mat-cell *matCellDef="let element"> {{element.plantacion.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="dimensions">
                  <th mat-header-cell *matHeaderCellDef> Hectáreas </th>
                  <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
                </ng-container>
   
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
   
            <p class="titulo-table" *ngIf="dataSourcePie.data.length>0 && showBarChart===2 || showBarChart === 3">Plantación: {{objetoPlantaciones[datasetIndexPie].name}}</p>
            <table mat-table [dataSource]="dataSourcePie" class="mat-elevation-z8" *ngIf="showBarChart === 2 || showBarChart === 3">
       
                <ng-container matColumnDef="chacra">
                  <th mat-header-cell *matHeaderCellDef> Chacra </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="lote">
                  <th mat-header-cell *matHeaderCellDef> Lote </th>
                  <td mat-cell *matCellDef="let element"> {{element.lote.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="hectárea">
                  <th mat-header-cell *matHeaderCellDef> Hectáreas </th>
                  <td mat-cell *matCellDef="let element"> {{element.lote.size}} </td>
                </ng-container>
         
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
   
          </div>              
        </mat-grid-tile>    
      </mat-grid-list>
    </div>
  </div> -->