.footer {
    min-height: 184px;
    @include position(relative);
    color: white;
    padding: 0;
    &__content {
      margin: 0 190px 0 138px;
      @include position(relative);
      @include flexbox(row, space-between);
    }

    &__logo {
      padding-top: 20px;
      align-self: center;
      > img {
        height: 92px;
        width: 230px;
      }
    }

    &__contact,
    &__social {
      padding-top: 20px;
      h2 {
        @include font(24px, 700,#fff);
        margin-top: 0;
        margin-bottom: 13px;
      }
    }

    &__contact {
      @include flexbox(column, flex-start,flex-start);
      ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
        li {
          @include flexbox(row, flex-start, center);
          margin-bottom: 10px;
          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }

    &__social {
      text-align: center;
      &--links {
        margin: 24px 0;
        @include flexbox(row, center);
        gap: 10px;
        a img {
          width: 44px;
          height: 30px;
        }
      }
    }

    &__bottom {
      margin-top: -24px;
      @include position(relative);
      @include flexbox(row, flex-end);
      gap: 20px;
      &--cop {
        p {
          text-align: center;
          @include font(12px, 400, #fff);
          position: relative;
          top: 1.2em;
          right: 5.5em;
        }
      }
    }

    &__developed {
      @include flexbox(row, center, center);
      margin-top: 10px;
      margin-right: 22px;
      span {
        margin-right: 10px;
      }
      img {
        height: 30px;
      }
    }
  }

  .ellipse_white {
    @include position(absolute, $left: 0);
  }

  .ellipse_green {
    @include position(absolute, $right: 0);
  }

  .agrotech_logo {
    @include position(absolute, $left: 50%);
    align-content: center;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
  }

  .qr_logo {
    @include position(absolute, $top: 22px, $right: 22px);
  }
