@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin border-radius-color($color, $radius: 5px) {
  border: 1px solid $color;
  border-radius: $radius;

}

@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin box-shadow($x: 0, $y: 0, $blur: 5px, $color: rgba(0, 0, 0, 0.24)) {
  box-shadow: $x $y $blur $color;
}

@mixin padding($top, $right: $top, $bottom: $top, $left: $right) {
  padding: $top $right $bottom $left;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin font($size, $weight: normal, $line-height: normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}


@mixin respond-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin respond-max($max) {
  @media (max-width: $max) {
    @content;
  }
}