@import 'src/shared-styles/mixins.scss';



@include respond-between(769px, 1440px) {
    .footer__content {
      margin-left: 0;
    }
    .ellipse_white, .footer__logo {
      display: none;
    }
  }

.ContainerS {
    @include flexbox(column);
    min-height: calc(100vh - 80px);


    &__menu {
        width: 262px;
        @include box-shadow(1px, 0);
        &__logo {
            @include position(relative, null, null, 10px);
            width: 100%;
            text-align: center;
            img {
                width: 70px;
                height: 90px;
            }
        }

        &__list {
            &--item {

                @include font(17px, 600);
                &:hover {
                    cursor: pointer;
                }
                &__container {
                    @include flexbox(row, flex-start, center);
                    &-icon {
                        margin-right: 5px;
                        width: 25px;
                    }
                }
            }
        }
    }
    &__content {
        @include flexbox(row);
        background-color: $default;
        &__card {
            padding-top: 1px;
        }
    }

}
