/* Se va a reestructurar cuando se apliquen los themes globales */
$primary-color: #0F8054;
$secondary-color: #8FCA8F;
$new-color-blue-hard: #015E83;
$white-color: #FFFFFF;
$new_color_blue: #015E85;
$hover-color: #47de5b;
$error-color: #F54C51;
$light-grey: #f4f4f4;
$dark-grey: #454545;
$hard-black: #1E1E1E;
$medium-grey: #808080;
$border-color: #FFFFFF;
$btn_cards: #3B7AF6;
$icon-color: #808080;
$new-azul: #015E83;
$font-family: 'Montserrat', sans-serif;
// **Colores de usuarios**
$productor: #4CAF50;
$productor-bg: #4CAF50;
$administrador: #015E85;
$administrador-bg: #015E85;
$super-administrador: #800080;
$super-administrador-bg: #800080;
$piloto: #FFA500;
$piloto-bg: #FFA500;
$tecnico: #808080;
$tecnico-bg: #808080;
$cooperativa: #A0522D;
$cooperativa-bg: #A0522D;


$primary-color: #3BA549;
$secondary-color: #8FCA8F;
$hover-color: #47de5b;
$error-color: #d9534f;
$light-grey: #f4f4f4;
$dark-grey: #454545;
$medium-grey: #666;
$default: #FFFFFF;
$border-color: #929497;
$font-family: 'Montserrat';

:root {
    --primary: #0F8054;  
  }