<div class="container card-normal">


  <div class="row">
    <div class="col-12 mb-10">
      <div class="header-container2 en-linea">
      <h2 class="title2">Detalle de servicio</h2>
      <button class="back-button2 r-button" [ngClass]="{'service-backOffice': this.backOffice}" (click)="volver()"> << Volver Atrás</button>
     </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <strong>Chacra: </strong> {{ this.servicio?.field?.name }}
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <strong>Servicio Número: </strong> {{ this.servicio?.id }}
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <strong>Productor: </strong> {{ this.servicio?.producer?.name + '  ' + this.servicio?.producer?.lastname}}
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <strong>Contacto: </strong> {{ this.servicio?.field?.telephone ?? '--'  }}
    </div>
  </div>

  <ng-container *ngIf="estadoOK else refrescandoEstado">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" *ngIf="this.servicio">
      <mat-tab label="Solicitud">
        <app-tab-solicitud *ngIf="this.indiceTab == 0"></app-tab-solicitud>
      </mat-tab>
      <mat-tab label="Datos Técnicos" *ngIf="this.tecnicoAsignado && puedeVerDatosTecnicos">
        <app-tab-datos-tecnicos ></app-tab-datos-tecnicos>
      </mat-tab>
      <mat-tab label="Datos de App" *ngIf="this.pilotoAsignado && puedeVerDatosPiloto">
        <app-tab-datos-app></app-tab-datos-app>
      </mat-tab>
      <mat-tab label="Informes" *ngIf="puedeVerInformes">
        <app-tab-informes></app-tab-informes>
      </mat-tab>
    </mat-tab-group>

  </ng-container>

  <ng-template #refrescandoEstado>

    <div class="refrescandoEstado">
      Recuperando estado del servicio...
    </div>
  </ng-template>



</div>
