<div class="miniatura-container-general">
  <div class="miniatura-container" >
    <div class="miniatura" *ngFor="let miniatura of listado" [ngClass]="{'estilo-productor': this.productor }">
      <ng-container *ngFor="let item of dataView" >

        <!-- IMAGEN -->
        <img src="{{item.field}}" [ngClass]="{'img-miniatura': !this.productor, 'img-productor': this.productor }" alt="" *ngIf="item.tipoLabel == tipoImagen" >

        <!-- TITULO -->
        <h3 *ngIf="item.tipoLabel == tipoTitulo">{{this.getValue(miniatura,item.field)}}</h3>

        <!-- SUB-TITULO -->
        <p *ngIf="item.tipoLabel == tipoSubtitulo ">{{this.getValue(miniatura,item.field)}}</p>

        <!-- SPAN -->
        <p>
          <span *ngIf="item.tipoLabel == tipoSpan" class="campo-variable" > {{item?.label}}: </span> {{ this.getValue(miniatura,item.field)}}
        </p>

        <button *ngIf="item.tipoLabel == tipoVerMas" mat-raised-button class="ver-mas-button" (click)="verMas(miniatura, item?.label, item?.field )">Ver Más</button>

      </ng-container>

    </div>
  </div>
</div>
