<div class="login-container">
  <mat-card class="login-card" *ngIf="!mostrarRegistro">
    <div class="logo-container">
      <img src="../../../assets/img/log_sustentable.png" alt="Logo">
    </div>

    <h1 class="mb-4">Iniciar Sesión</h1>

    <form [formGroup]="login" (ngSubmit)="enviarFormulario()" class="text-start" style="display: contents;">
      <mat-form-field class="mb-3">
        <input matInput type="email" id="email" [formControl]="emailControl" placeholder="Correo electrónico">
        <mat-error *ngIf="emailControl.invalid && emailControl.touched">
          <span *ngIf="emailControl.hasError('required')">El correo electrónico es requerido.</span>
          <span *ngIf="emailControl.hasError('email')">Ingresa un correo electrónico válido.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mb-3">
        <input matInput type="password" id="password" [formControl]="passwordControl" placeholder="Contraseña"
          [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="togglePasswordVisibility()"
          [ngStyle]="{'color': hidePassword ? '#000' : '#3CA749'}">
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="passwordControl.invalid && passwordControl.touched">
          <span *ngIf="passwordControl.hasError('required')">La contraseña es requerida.</span>
          <span *ngIf="passwordControl.hasError('minlength')">La contraseña debe tener al menos 8 caracteres.</span>
          <span *ngIf="loginError">{{ loginError }}</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button type="button" class="btn btn-block mt-3"
        [ngStyle]="{'background-color': (login.valid && !cargandoValidacion) ? '#3CA749' : '#8FCA8F', 'color': 'white'}"
        (click)="enviarFormulario()">
        Iniciar Sesión
      </button>

      <div class="login-links mt-3">
        <div class="login-prompt">
          ¿No tienes cuenta?
          <a routerLink="/registro" class="registro-link" style="color: #3CA749; font-size: 14px;">Regístrate</a>
          <div class="forgot-password">
            <a routerLink="/recuper-contrasena-container" class="forgot-password-link"
              style="color: #3CA749; font-size: 14px;">Recuperar Contraseña</a>
          </div>
        </div>

      </div>
    </form>

    <app-registro *ngIf="mostrarRegistro"></app-registro>
  </mat-card>
</div>
