<div *ngFor="let producto of productos" class="card">
  <img [src]="producto.imagen" [alt]="producto.nombre" style="width:100%; height:auto;">
  <h2>{{ producto.nombre }}</h2>
  <p>{{ producto.informacion }}</p>
  <ul>
      <li>Número de Servicio: {{ producto.numeroServicio }}</li>
      <li>Fecha de Solicitud: {{ producto.fechaSolicitud }}</li>
      <li>Estado del Servicio: {{ producto.estado }}</li>
      <li>Cliente: {{ producto.cliente }}</li>
      <li>Campo: {{ producto.campo }}</li>
  </ul>
</div>
