<div class="container">
  <div class="header-container2">
    <h2 class="title2">Listado de Chacras</h2>
    <button class="back-button2" (click)="volver()"> << Volver Atrás</button>
  </div>
  <div class="search-container">
    <input type="text" class="search-input" placeholder="Buscar...">
    <button class="back-button2" (click)="BtnRegisterCampos()">Registrar Chacra</button>
  </div>
  <mat-card class="main-card">
    <div class="card-campos-section">
      <h2 class="titulo-campos"></h2>
      <div class="campos-container">
        <div class="campo-card" *ngFor="let campo of campos">
          <img src="/assets/img/Chacra_{{ campo.id }}.png" alt="Campo {{ campo.id }}">
          <h3>{{ campo.name }}</h3>
          <p>
            <span class="campo-variable">Localidad:</span> {{ campo.address.location.name }}
            <img src="assets/img/location.svg" alt="Icono" class="icono_location">
          </p>
          <p><span class="campo-variable">Hectarias:</span> {{ campo.dimensions }}</p>
          <p><span class="campo-variable">Dirección:</span> {{ campo.address.address }}</p>
          <p><span class="campo-variable">Descripción</span> {{ campo.observation }}</p>
          <button mat-raised-button class="ver-mas-button" (click)="verMas(campo)">Geolocalización</button>
          <button mat-raised-button class="ver-mas-button-second" (click)="verLotes(campo)">Ver Lotes</button>

        </div>
      </div>
    </div>
  <mat-card/>
