<div class="mainStructure">
  <app-header-inner [title]="'Chacras'" [backButton]="true"></app-header-inner>
  <app-dinamic-searchbar
  [filterConfigs]="filterConfigs"
  [buttonConfigs]="buttonConfigs"
  [localidadesOptions]="localidades" 
  (filter)="onFilter($event)"
  (clearFilter)="clearFilter()">
  ></app-dinamic-searchbar>
  <app-card [dataView]="dataView" [listado]="campos" [typeCard]="'chacra'">
  </app-card>
 <!-- <app-card-contador [contador]= "contador" [mensaje]="mensaje"></app-card-contador> -->
</div>
