
<div class="nueva-contrasena-container">
  <mat-card class="nueva-contrasena-card" [ngStyle]="{'height': hasErrors ? 'auto' : '550px'}">
    <div class="logo-container">
      <img src="../../../assets/img/log_sustentable.png" alt="Logo">
    </div>
    <h1 class="mb-4">Nueva Contraseña</h1>

    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" class="text-start">
      <!-- Campo de Nueva Contraseña input 1ro -->
      <div class="form-field-container">
        <div class="input-with-icon">
          <input matInput [type]="hideNewPassword ? 'password' : 'text'" id="new-password" formControlName="newPassword"
            placeholder="Nueva Contraseña" class="input-style">
          <mat-icon matSuffix (click)="toggleNewPasswordVisibility()" class="toggle-password">
            {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </div>
        <mat-error
          *ngIf="passwordResetForm.get('newPassword')?.invalid && passwordResetForm.get('newPassword')?.touched">
          <span *ngIf="passwordResetForm.get('newPassword')?.hasError('required')">La contraseña es requerida.</span>
          <span *ngIf="passwordResetForm.get('newPassword')?.hasError('minlength')">La contraseña debe tener al menos 8
            caracteres.</span>
        </mat-error>
      </div>

      <!-- Campo para Confirmar Nueva Contraseña input 2do -->

      <div class="form-field-container">
        <div class="input-with-icon">
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" id="confirm-password"
            formControlName="confirmPassword" placeholder="Confirmar Contraseña" class="input-style">
          <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()" class="toggle-password">
            {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </div>
        <mat-error
          *ngIf="passwordResetForm.get('confirmPassword')?.invalid && passwordResetForm.get('confirmPassword')?.touched">
          <span *ngIf="passwordResetForm.get('confirmPassword')?.hasError('required')">La contraseña es
            requerida.</span>
          <span *ngIf="passwordResetForm.get('confirmPassword')?.hasError('minlength')">La contraseña debe tener al
            menos 8
            caracteres.</span>
          <span *ngIf="passwordResetForm.get('confirmPassword')?.errors?.['passwordMismatch']">Las
            contraseñas no coinciden.</span>
        </mat-error>
      </div>


      <!-- Botón para Establecer Nueva Contraseña -->
      <button mat-raised-button type="submit" class="btn-block mt-3" [ngClass]="{'enabled': isFormFullyValid()}"
        [disabled]="!isFormFullyValid()">
        Confirmar Contraseña
      </button>

      <!-- Enlace para regresar al inicio de sesión -->
      <div class="login-links mt-3">
        <div class="login-prompt">
          ¿Ya tienes cuenta? <a routerLink="/login-backoffice" class="login-link">Iniciar Sesión</a>
        </div>
      </div>
    </form>
  </mat-card>
</div>

<!--METODO PARA CERRAR VENTANA
metodo para cerrar la venta de nueva contraseña
<a href="javascript:void(0)" (click)="navigateAndClose()"</a> -->
