<footer class="footer">
     <div class="ellipse_white">
      <img [src]="isMobile ? 'assets/img/footer/ellipse_white_mobile.svg' : 'assets/img/footer/ellipse_white.svg'">
  </div>    
  <div class="ellipse_green">
    <img [src]="isMobile ? 'assets/img/footer/ellipse_green_mobile.svg' : 'assets/img/footer/ellipse_green.svg'">
  </div>
    <div class="agrotech_logo">
    <img [src]="isMobile ? 'assets/img/footer/logo_AGROtech_blanco.svg' : 'assets/img/footer/logo_AGROtech_blanco_mobile.svg'">
  </div> 
    <div class="qr_logo">
    <img src="assets/img/afip.png"/>
  </div>   
  <div class="footer__content">
      <div class="footer__logo">
      <img *ngIf="!whiteLogo"  [src]="isMobile ? 'assets/img/footer/logo_sustentable_mobile.svg' : 'assets/img/footer/logo_sustentable_mobile.svg'">
      <img *ngIf="whiteLogo"  src="assets/img/logo_agro_white.png">
    </div> 
    <div class="footer__contact">
      <h2>Contacto</h2>
      <ul>
        <li>
          <img src="assets/img/Envelope.svg" alt="Email">
          <span>Mail: info@agro-sustentable.com</span>
        </li>
        <li>
          <img src="assets/img/Location_b.svg" alt="Location">
          <span>Parque Industrial y de la Innovación, Posadas, Misiones.</span>
        </li>
        <li>
          <img src="assets/img/ic_baseline-whatsapp.svg" alt="WhatsApp">
          <span>376-4121212</span>
        </li>
      </ul>
    </div>
    <div class="footer__social">
      <h2>Redes Sociales</h2>
      <div class="footer__social--links">
        <a href="https://www.facebook.com/AgroSustentable/" target="_blank"><img src="assets/img/facebook.svg" alt="Facebook"></a>
        <a href="https://www.instagram.com/agrosustentable/" target="_blank"><img src="assets/img/instagram.svg" alt="Instagram"></a>
        <a href="https://www.linkedin.com/company/agro-sustentable1/mycompany/" target="_blank"><img src="assets/img/linkedin.svg" alt="Linkedin"></a>
        <a href="https://www.youtube.com/@agro_sustentable" target="_blank"><img src="assets/img/youtube.svg" alt="YouTube"></a>
      </div>
    </div>
  </div>
    <div class="footer__bottom">
    <div class="footer__bottom--cop">
    <p> &copy; 2024 Agro Sustentable. Todos los Derechos Reservados – Política de Privacidad – Joaquín Basanta Presidente</p>
  </div>
    <div class="footer__developed">
      <span>Desarrollado por:</span>
      <a href="https://siliconmisiones.gob.ar/" target="_blank">
        <img src="assets/img/silicon.png">
      </a>
    </div>
  </div>     
</footer>
