<div class="container">
  <div class="card user-card">
    <div class="user-content">
      <div class="avatar">
        <div class="avatar-circle">
          <mat-icon class="avatar-icon">person</mat-icon>
        </div>
      </div>
      <div class="titulo-welcome">
        <p class="email">{{ name }} {{ lastname }}</p>
        <p class="email">{{ email }}</p>
        <p class="email">{{ role }}</p>
      </div>
    </div>
    <h2 class="titulo">Usuarios Generales del Sistema</h2>
  </div>
</div>
