<div class="mainStructure">
  <app-header-inner [title]="'Informes'" [backButton]="true"></app-header-inner>
<div class="informes">
  <div class="page-header">
    <div class="producer-selector">
      <button mat-button class="producer-button" [matMenuTriggerFor]="producerMenu">
        <div class="producer-info">
          <span class="label">Productor:</span>
          <span class="value">{{selectedProductorName || 'Seleccionar'}}</span>
        </div>
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #producerMenu="matMenu" class="producer-menu">
        <div class="menu-header">
          <h4>Seleccionar Productor</h4>
        </div>
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let productor of usuarios" 
                          [value]="productor.id"
                          (click)="onProductorChange(productor.id)">
            {{productor.name}} {{productor.lastName}}
          </mat-list-option>
        </mat-selection-list>
      </mat-menu>
    </div>
  </div>
  <div class="cards-container">
    <div class="cards-container">
      <app-widget
        *ngFor="let id of widgetIds"
        [config]="getWidgetConfig(id)"
        (widgetClick)="onButtonClick($event)">
      </app-widget>
    </div>
  </div>
  <div class="dashboardContainer">
    <div class="dashboardContainer-card">
      <div class="dashboardContainer-card-header">
        <div class="dashboardContainer-card-header-title__section">
          <h3>
            <span *ngIf="selectedButtonId === 1">Detalle de Chacras</span>
            <span *ngIf="selectedButtonId === 2">Detalle de Plantaciones</span>
            <span *ngIf="selectedButtonId === 3">Detalle de Hectáreas</span>
          </h3>
          <div class="dashboardContainer-card-header-title__section-subtitle" *ngIf="selectedButtonId === 1">Cantidad total</div>
        </div>
        <div class="dashboardContainer-card-header-total-count" *ngIf="selectedButtonId === 1">
          <span class="dashboardContainer-card-header-total-count-number">{{chacrasLength}}</span>
        </div>
      </div>
      <div class="dashboardContainer-card-chart">
        <canvas *ngIf="selectedButtonId === 1"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="'bar'"
          [legend]="false">
        </canvas>
        <canvas *ngIf="selectedButtonId === 2"
          baseChart
          [data]="pieChartData"
          [options]="pieChartOptions"
          [type]="'pie'">
        </canvas>
        <canvas *ngIf="selectedButtonId === 3"
          baseChart
          [data]="pieChartDataHectareas"
          [options]="pieChartHectareasOptions"
          [type]="'pie'">
        </canvas>
      </div>
    </div>
    <div class="dashboardContainer-card">
      <app-table *ngIf="selectedButtonId === 1"
                [data]="dataSource.data"
                [subtitle]="selectedFieldName || 'Seleccionar del gráfico'">
  <ng-template #headers>
    <th>Nombre</th>
    <th>Plantación</th>
    <th>Hectáreas</th>
  </ng-template>
  <ng-template #rows let-row>
    <td>{{row.name}}</td>
    <td>{{row.plantacion.name}}</td>
    <td>{{row.dimension}}</td>
  </ng-template>
  <div emptyState>
    <img src="empty-state.svg">
    <p>No hay datos disponibles</p>
  </div>
</app-table>
<app-table *ngIf="selectedButtonId === 2 || selectedButtonId === 3"
          [data]="dataSourcePie.data"
          [subtitle]="selectedPlantationName || 'Seleccionar del gráfico'">
  <ng-template #headers>
    <th>Chacra</th>
    <th>Lote</th>
    <th>Hectáreas</th>
  </ng-template>
  <ng-template #rows let-row>
    <td>{{row.name}}</td>
    <td>{{row.lote.name}}</td>
    <td>{{row.lote.size}}</td>
  </ng-template>
  <div #emptyState>
    <img src="empty-state.svg">
    <p>No hay datos disponibles</p>
  </div>
</app-table>
    </div>
  </div>
</div>
</div>