<div class="mainStructure">
  <app-header-inner [title]="'Solicitar nuevo Servicio'" [backButton]="true"></app-header-inner>
    <app-weather></app-weather>
    <form class="FullForm" [formGroup]="form" *ngIf="form">
      <!-- Botón Limpiar -->
      <div class="FullForm-buttonsToRight" *ngIf="this.form.controls[this.ctrlChacra].value !== null || (this.form.controls[this.ctrlProductor]?.value && this.backOffice)">
        <button class="primary-button-custom size-48" mat-raised-button 
        appearance="outline" (click)="limpiarSeleccion()">
          Limpiar selección
        </button>
      </div>
    
      <!-- Selector de Productor -->
      <div class="FullForm-control" *ngIf="this.backOffice">
        <label class="FormLabel">Productor</label>
        <mat-select class="FormInput" 
                   [formControlName]="this.ctrlProductor" 
                   placeholder="Seleccionar un productor"
                   (selectionChange)="seleccionarProductor()">
          <mat-option *ngFor="let productor of productores" [value]="productor.id">
            {{ productor?.name + ' ' + productor?.lastname }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls[this.ctrlProductor]?.invalid && form.controls[this.ctrlProductor]?.touched">
          * Campo requerido
        </mat-error>
      </div>
    
      <!-- Selector de Chacra -->
      <div class="FullForm-control" *ngIf="this.form.controls[this.ctrlProductor]?.value || !this.backOffice">
        <label class="FormLabel">Chacra</label>
        <mat-select class="FormInput" 
                   [formControlName]="this.ctrlChacra" 
                   placeholder="Seleccionar una chacra"
                   (selectionChange)="seleccionarChacra()">
          <mat-option *ngFor="let chacra of chacras" [value]="chacra.id">
            {{ chacra?.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls[this.ctrlChacra]?.invalid && form.controls[this.ctrlChacra]?.touched">
          * Campo requerido
        </mat-error>
      </div>
    
      <!-- Selector de Cultivo -->
      <div class="FullForm-control" *ngIf="this.form.controls[this.ctrlChacra]?.value && this.lotesOriginales?.length">
        <label class="FormLabel">Cultivo</label>
        <mat-select class="FormInput" 
                   [formControlName]="this.ctrlCultivo" 
                   placeholder="Seleccione un cultivo"
                   (selectionChange)="seleccionarCultivo()">
          <mat-option *ngFor="let cultivo of cultivos" [value]="cultivo.id">
            {{ cultivo.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls[this.ctrlCultivo]?.invalid && form.controls[this.ctrlCultivo]?.touched">
          * Campo requerido
        </mat-error>
      </div>
    
      <!-- Selector de Lotes -->
      <div class="FullForm-control" *ngIf="this.form.controls[this.ctrlCultivo]?.value && this.lotes?.length">
        <label class="FormLabel">Lotes</label>
        <mat-select class="FormInput" 
                   [formControlName]="this.ctrlLote" 
                   [multiple]="true"
                   placeholder="Seleccione los lotes">
          <mat-option *ngFor="let lote of lotes" [value]="lote.id">
            {{ lote?.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls[this.ctrlLote]?.invalid && form.controls[this.ctrlLote]?.touched">
          * Campo requerido
        </mat-error>
      </div>
    
      <!-- Hectáreas -->
      <div class="FullForm-control">
        <label class="FormLabel">Hectáreas</label>
        <input class="FormInput"
               type="number"
               [formControlName]="this.ctrlHectareas"
               placeholder="Hectáreas"
               min="1"
               max="999999">
      </div>
    
      <!-- Checkbox Agua -->
      <div class="FullForm-control">
        <mat-checkbox [formControlName]="this.ctrlConAgua">
          Abastecimiento de agua
        </mat-checkbox>
      </div>
    
      <!-- Observaciones -->
      <div class="FullForm-control">
        <label class="FormLabel">Observaciones</label>
        <textarea class="FormTextarea"
                  [formControlName]="this.ctrlObservaciones">
        </textarea>
      </div>
    
      <!-- Botones -->
      <div class="FullForm-buttonsToRight">
        <button mat-button 
                class="secondary-button-custom size-48" 
                type="button"
                (click)="cancelar()">
          Cancelar
        </button>
        <button mat-raised-button 
                appearance="outline"
                class="primary-button-custom size-48"
                (click)="solicitarServicio()">
          Solicitar Servicio
        </button>
      </div>
    </form>
  </div>
