<!doctype html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activación de Cuenta</title>
</head>
<body>
    <h2>Activar Cuenta</h2>
    <h3><span>Hola </span><span th:text="${userName}"></span></h3>
    <h4>Hola estas recibiendo este correo porque hiciste una solicitud de registro en la pagina de Agro Sustentable.</h4>
    <h4>Dar clic al siguiente enlace para activar la cuenta.</h4>
    <a th:href="@{${url}}"><button>Activar Cuenta</button></a>
    <hr>
    <h4>Si no realizaste esta solicitud, desestimá este mensaje. Saludos, Agro Sustentable.</h4>
</body>
</html>