.container
  margin: 0 auto
  padding: 20px
  display: flex
  flex-direction: column
  gap: 20px

h2
  font-weight: bold

.map-table-container
  display: flex
  height: 80vh
  gap: 16px

.menu-container
  flex: 2
  display: flex
  flex-direction: column
  gap: 20px

.map
  height: 500px
  width: 50%
  border: 1px solid #ccc
  border-radius: 8px

.buttons
  display: flex
  justify-content: space-between
  gap: 10px

.button_crear
  background-color: #015E85
  color: white
  font-weight: bold
