.container
  display: flex
  flex-direction: column
  gap: 20px
  // min-height: 100vh
  height: auto

h5
  font-size: 16px
  font-weight: 600
  color: #454545 !important

.map-table-container
  display: flex
  min-height: 50vh
  gap: 16px

.menu-container
  flex: 3
  display: flex
  flex-direction: column
  gap: 20px

.map-container
  flex: 2

.map
  height: 100%
  width: 100%
  border: 1px solid #ccc
  border-radius: 8px
  position: relative
  top: 3rem

.buttons
  display: flex
  justify-content: flex-start
  gap: 6.8em
  position: relative
  // top: 4rem

.accordion-row
  display: flex
  gap: 16px
  align-items: stretch
  top: 4rem

.mat-expansion-panel
  margin-bottom: 10px

.mat-accordion
  width: 50%

.primary-button
  width: 25%

.secondary-button
  width: 25%

.pagination-container
  text-align: center
  padding: 15px
  background-color: #f5f5f5
  border-top: 1px solid #ddd

.mat-elevation-z8
  width: 100%
