<div class="field-container">
  <mat-select class="field-input" placeholder="Filtrar por" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mat-option>
  </mat-select>

  <!-- Input para rango de hectáreas -->
  <ng-container *ngIf="selectedFilter === 'hectareas'">
    <input class="field-input" matInput type="number" placeholder="Min" [(ngModel)]="minHectareas">
    <input class="field-input" matInput type="number" placeholder="Max" [(ngModel)]="maxHectareas">
  </ng-container>

  <!-- Input para productor -->
  <input *ngIf="selectedFilter === 'productor'" class="field-input" matInput placeholder="Buscar por Productor"
    [(ngModel)]="nombreProductor">

  <!-- Input para nombre de chacra -->
  <input *ngIf="selectedFilter === 'nombreChacra'" class="field-input" matInput
    placeholder="Buscar por Nombre de Chacra" [(ngModel)]="nombreChacra">

  <!-- Mat-select para seleccionar localidad -->
  <mat-select *ngIf="selectedFilter === 'localidad'" class="field-input" placeholder="Seleccionar Localidad"
    [(ngModel)]="localidadSeleccionada">
    <mat-option *ngFor="let localidad of localidades" [value]="localidad.name">{{ localidad.name }}</mat-option>
  </mat-select>

  <!-- Botones para limpiar y filtrar -->
  <button mat-raised-button class="clear-button" (click)="limpiarTexto()">Limpiar
    <img src="assets/img/limpiar.svg" alt="IconoBorrar">
  </button>

  <button mat-raised-button class="active-button" (click)="activarFiltro()">Filtrar
    <img src="assets/img/filtrar.svg" alt="IconoFiltrar">
  </button>


  <!-- <button mat-raised-button class="nuevaChacra-button" (click)="BtnNuevaChacra()">Volver al Inicio
  </button> -->

  <!-- Botón para crear usuarios -->
  <button mat-raised-button class="nuevoUsuario-button" (click)="BtnCrearUsuarios()">
    Crear Usuarios
    <mat-icon style="font-size: 20px; position: relative; top: 1px; right: 3px;">add</mat-icon>
  </button>
</div>
