$primary-color: #3CA749
$secondary-color: #8FCA8F
$hover-color: #32963f
$error-color: #d9534f
$light-grey: #f4f4f4
$dark-grey: #454545
$medium-grey: #808080
$border-color: #ddd
$font-family: 'Montserrat', sans-serif

.body
  font-family: $font-family

.titulo-servicios h2
  color: $dark-grey
  font-size: 1.5em
  font-weight: bold
  font-family: 'Montserrat', sans-serif
  padding: 20px
  margin-left: 10px

.solicitud-servicio-form
  display: flex
  justify-content: center
  padding: 10px
  width: 100%
  font-family: 'Montserrat', sans-serif

.card
  display: flex
  flex-direction: column
  align-items: flex-start
  border: 1px solid #ddd
  border-radius: 8px
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3)
  padding: 20px
  margin: auto
  width: calc(100% - 40px)
  box-sizing: border-box

  &-title
    color: $primary-color
    margin-bottom: 20px

.field-container,
.field-container-fecha
  display: flex
  align-items: center
  justify-content: flex-start
  width: 100%
  margin-bottom: 10px

.field-label,
.field-label-fecha
  display: flex
  align-items: center
  margin-right: 20px
  font-size: 17px
  color: $dark-grey

.field-input,
.field-input-fecha,
.field-input-obs
  width: 40%
  border: 1px solid #ddd
  border-radius: 4px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
  padding: 8px
  background-color: white
  font-size: 0.9em
  &:focus
    outline: none
    border-color: $primary-color
    box-shadow: 0 0 5px $primary-color

.field-input-fecha
  width: 40%
  border: 1px solid #ddd
  border-radius: 4px
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
  padding: 8px
  background-color: white
  font-size: 14px
  margin-left: 82px
  color: $medium-grey
  font-family: $font-family
  &:focus
    outline: none
    border-color: $primary-color
    box-shadow: 0 0 5px $primary-color

.field-input-obs
  height: 60px
  margin-left: 10px

.boton-servicio
  display: flex
  padding-left: 85.5%
  align-items: center
  width: 25%
  margin-top: 10px

button[mat-raised-button]
  color: white
  margin-top: 20px
  background-color: $primary-color
  transition: background-color 0.3s

.mat-datepicker-toggle .mat-icon
  color: #3CA749

// .mat-drawer-content
//   overflow: visible !important
