<div class="titulo-servicios">
  <h2>Servicios</h2>
</div>
<form class="solicitud-servicio-form" (ngSubmit)="onSubmit()">
  <div class="card">
    <h2 class="card-title">Campos</h2>
    <div class="field-container">
      <mat-label class="field-label">Tipo de Servicio</mat-label>
      <mat-select class="field-input" placeholder="Servicios" [(ngModel)]="solicitud.tipoServicio" name="tipoServicio">
        <mat-option value="Aplicación">Aplicación</mat-option>
        <mat-option value="Servicio Topográfico">Servicio Topográfico</mat-option>
        <!-- Añade más opciones de servicio aquí -->
      </mat-select>
    </div>
    <div class="field-container-fecha">
      <label class="field-label-fecha">Fecha</label>
      <input class="field-input-fecha" [matDatepicker]="picker" placeholder="Fecha de solicitud"
        [value]="solicitud.fecha | date:'yyyy-MM-dd'" (dateChange)="onFechaChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>






    <div class="field-container">
      <mat-label class="field-label">Observaciones</mat-label>
      <textarea class="field-input-obs" [(ngModel)]="solicitud.observaciones" name="observaciones"></textarea>
    </div>

    <div class="field-container boton-servicio">
      <button mat-raised-button  style="font-size:14px;">Solicitar Servicio</button>
    </div>
  </div>
</form>
