
  <div class="titulo-principal">
     {{opcionSeleccionada}}
  </div>

  <div class="field-container">
    <mat-select class="field-input" placeholder="Seleccione un listado" (selectionChange)="cambiarConfig($event)" [(value)]="opcionSeleccionada">
      <mat-option [value]="drones" de>Lista de Drones</mat-option>
      <mat-option [value]="insumos">Lista de Insumos</mat-option>
    </mat-select>

    <button mat-raised-button class="nuevoUsuario-button" (click)="nuevo()">
      Agregar<mat-icon style="font-size: 20px; position: relative; top: 1px; right: 3px;">add</mat-icon>
    </button>
  </div>

  <miniatura [dataView]="dataView" [listado]="listado"></miniatura>


