<div class="borderDialog">
  <div class="miniBar">
   <strong> Asignar Piloto</strong>
  </div>
  <div class="body-dialog">
    <ng-container *ngIf="this.listadoPilotos?.length else spinner">
      <div [formGroup]="form">

        <div class="field-container w-100">
          <mat-label class="field-label">Piloto</mat-label>
          <mat-select class="field-input" [formControlName]="piloto_id" placeholder="Seleccionar un piloto" name="piloto">
            <mat-option *ngFor="let piloto of listadoPilotos" [value]="piloto.id">{{ piloto?.name + ' ' + piloto?.lastname }}</mat-option>
          </mat-select>
        <mat-error *ngIf="form.controls[piloto_id]?.invalid && form.controls[piloto_id]?.touched">* Campo requerido</mat-error>
        </div>

        <br>
        <button class="back-button2" (click)="cencelar()">Cancelar</button>
        <button class="back-button2" (click)="asignarPiloto()">Asignar</button>
      </div>
     </ng-container>

     <ng-template #spinner>
      <br><br>
      <strong>CARGANDO PILOTOS...</strong>
      <br><br>
     </ng-template>
  </div>
</div>
