<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidebarOpen" class="sidenav">
    <!-- Contenido del sidenav -->
    <div class="logo-container">
      <img src="assets/img/LogoAgroBYTECH.svg" alt="Logo" class="dashboard-logo">
    </div>
    <mat-nav-list class="btn_nav">
      <p mat-list-item routerLink="/dashboard/inicio" class="nav-item" (click)="closeSidenavIfSmall()">
        <img src="assets/img/home_FILL0_wght400_GRAD-25_opsz24.svg" alt="Home" class="nav-item-icon">Inicio
      </p>
      <p mat-list-item routerLink="/dashboard/servicios" class="nav-item" (click)="closeSidenavIfSmall()">
        <img src="assets/img/sell_FILL0_wght400_GRAD0_opsz24.svg" alt="Servicios" class="nav-item-icon">Servicios
      </p>
      <!-- <p mat-list-item routerLink="/dashboard/productos" class="nav-item" (click)="closeSidenavIfSmall()">
        <img src="assets/img/store_FILL0_wght400_GRAD-25_opsz24.svg" alt="Productos" class="nav-item-icon">Productos
      </p> -->
      <p mat-list-item routerLink="/dashboard/configuracion" class="nav-item" (click)="closeSidenavIfSmall()">
        <img src="assets/img/settings_FILL0_wght400_GRAD-25_opsz24.svg" alt="Configuración" class="nav-item-icon">
        Configuración
      </p>
      <p mat-list-item routerLink="/dashboard/perfil" class="nav-item" (click)="closeSidenavIfSmall()">
        <img src="assets/img/person_FILL0_wght400_GRAD-25_opsz24.svg" alt="Perfil" class="nav-item-icon">
        Perfil
      </p>
    </mat-nav-list>
    <div class="logo-b">
      <img src="assets/img/empresa_b.png" alt="Logo" class="sidenav-logo">
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <!-- Botón de menú para pantallas pequeñas -->
    <button mat-icon-button (click)="toggleSidebar()" *ngIf="isScreenSmall" class="open-sidebar-btn">
      <mat-icon style="color:#0F8054;">menu</mat-icon>
    </button>
    <!-- Resto del contenido principal -->
    <mat-toolbar class="toolbar-green">
      <div div *ngIf="isScreenSmall" class="logo-container-mobile">
        <img src="assets/img/LogoAgroBYTECH_M.svg" alt="Logo" class="dashboard-logo">
      </div>
      <input matInput class="search-input" placeholder="Buscar ...">
      <span class="toolbar-spacer"></span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="profile-menu">
        <mat-icon>
          <img src="assets/img/avatar.png" alt="Foto de perfil" style="width: 24px; height: 24px; border-radius: 50%;">
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard/perfil">Perfil</button>
        <button mat-menu-item routerLink="/dashboard/mensajes">Mensajes</button>
        <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

<mat-card class="card-footer">
  <footer class="footer">
    <img src="assets/img/log_sustentable_gris.png" alt="Logo Marca" class="logo-marca">
    <img src="assets/img/logo_agro_white.png" alt="Logo Marca" class="logo-marca-white">
    <div class="container">
      <div class="contacto">
        <h2>Contacto</h2>
        <ul class="lista-contacto">
          <li><img src="assets/img/Envelope.svg" alt="Logo Email">
            <a>E-mail: infodagro-sustentable.com</a>
          </li>
          <li><img src="assets/img/ic_baseline-whatsapp.svg" alt="Logo Whatsapp"><a>Teléfono: (376)-4121212</a></li>
          <li><img src="assets/img/Location_b.svg" alt="Logo Ubicación"><a>Dirección: Parque Industrial y de la
              Innovación, Posadas</a></li>
        </ul>
      </div>
      <div class="redes-sociales">
        <div class="redes-title">
          <h2>Redes Sociales</h2>
        </div>
        <div class="redes-container">
          <a href="https://www.facebook.com/AgroSustentable/" target="_blank"><img src="assets/img/facebook.svg"
              alt="Facebook"></a>
          <a href="https://www.linkedin.com/company/agro-sustentable1/mycompany/" target="_blank"><img
              src="assets/img/linkedin.svg" alt="Linkedin"></a>
          <a href="https://www.instagram.com/agrosustentable/" target="_blank"><img src="assets/img/instagram.svg"
              alt="Instagram"></a>
          <a href="https://www.youtube.com/@agro_sustentable" target="_blank"><img src="assets/img/youtube.svg"
              alt="YouTube"></a>
        </div>
      </div>
    </div>
    <div class="derechos-autor">
      <p>&copy; 2024 Agro Sustentable. Todos los Derechos Reservados - Política de Privacidad - Joaquín Basanta,
        Presidente</p>
      <div class="desarrollado-por">
        <p>Desarrollado por:</p>
        <div class="logos-container">
          <div class="logo-silicon">
            <a href=" https://siliconmisiones.gob.ar/" target="_blank"><img src="assets/img/silicon.png"
                alt="Logo Silicon Misiones"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="logo-afip">
      <img src="assets/img/afip.png" alt="Logo AFIP">
    </div>
  </footer>
</mat-card>