<div class="tab-base">
  <div class="row">
    <div class="col-12">
      <div class="label-estado">
        <strong>Estado: </strong>{{ this.servicio?.status?.name }}
      </div>
    </div>

    <div class="col-12 border-base">
      <div class="mini-card">
        <strong>Localidad:</strong> {{ this.servicio?.location?.name }}
        <div style="float: right">
          <strong>Fecha Solicitada:</strong> {{ this.servicio?.createdDate }}
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border-base">
          <div class="mini-card">
            <div class="titulo-subra">Asistencia Técnica</div>
            <div class="mb-15"><strong>Técnico:</strong>Cristian P.</div>
            <div class="mb-15"><strong>Piloto:</strong> Emanuel C.</div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border-base">
          <div class="mini-card">
          <div class="en-linea titulo-mini-card">
            <div class="titulo-subra">Detalles</div>
            <button class="back-button2 btn-volver">Ver lotes</button>
          </div>

          <div class="mb-15">
            <strong>Chacra:</strong> ID {{ this.servicio?.field_id }}
          </div>
          <div class="mb-15">
            <strong>Hectáreas:</strong> {{ this.servicio?.hectare }}
          </div>
          <div class="mb-15">
            <strong>Plantación:</strong>{{ this.servicio?.cropDescripcion }}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
